<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{=response.title or request.application}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- CSS -->
        <link rel="stylesheet" href="{{=URL('static', 'css/jquery.steps.css')}}">
        <link rel="stylesheet" href="{{=URL('static', 'css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{=URL('static', 'css/web2py.css')}}">

        <!-- JS -->
        <script src="{{=URL('static', 'js/jquery.js')}}"></script>
        <script src="{{=URL('static', 'js/bootstrap.min.js')}}"></script>
        <script src="{{=URL('static', 'js/jquery.steps.js')}}"></script>
        <script src="{{=URL('static', 'js/web2py.js')}}"></script>
        <script src="{{=URL('static', 'js/misc.js')}}"></script>
    </head>
<body>

<div class='container'>
<h1>Empresa<br> <small>Configuración inicial</small></h1>

<div class='flash'></div>

<form name='empresa' action='' id='empresa' method='post'>
{{form.custom.begin}}

<div id="wizard">

    <h2>Lugar</h2>
    <section>

    <fieldset>
    <legend>Datos de la Empresa</legend>

    <div class='row'>
        <div class='col-md-3'><label>{{=form.custom.label.razon_social}}</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.razon_social}}
        </div>
        <div class='col-md-3 razon_social'></div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>{{=form.custom.label.nombre_comercial}}</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.nombre_comercial}}
        </div>
    </div>
    <div class='row'>
        <div class='col-lg-3'><label>{{=form.custom.label.pais_id}}</label></div>
        <div class='col-lg-5'>
            <select id='no_table_pais_id' name='pais_id'>
                <option value="">TODO</option>
            </select>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>{{=form.custom.label.estado_id}}</label></div>
        <div class='col-md-5'>
            <select id='no_table_estado_id' name='estado_id'>
                <option value="">TODO</option>
            </select>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>{{=form.custom.label.municipio_id}}</label></div>
        <div class='col-md-5'>
            <select id='no_table_municipio_id' name='municipio_id'>
                <option value="">TODO</option>
            </select>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>{{=form.custom.label.localidad_id}}</label></div>
        <div class='col-md-5'>
            <select id='no_table_localidad_id' name='localidad_id'>
                <option value="">TODO</option>
            </select>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>{{=form.custom.label.dir_calle}}</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.dir_calle}}
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>{{=form.custom.label.dir_num_ext}}</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.dir_num_ext}}
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>{{=form.custom.label.dir_num_int}}</label></div>
        <div class='col-md-5'>
            <input id="_no_table_dir_num_int" class="string" 
            type="text" value="" name="dir_num_int">
            {{#=form.custom.widget.dir_num_int}}
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>{{=form.custom.label.dir_cp}}</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.dir_cp}}
        </div>
        <div class='col-md-3 codigo_postal'></div>
    </div>

    </fieldset>
    </section>

    <h2>Otros datos</h2>
    <section>

    <fieldset>
    <legend>Otros datos</legend>

    <div class='row'>
        <div class='col-md-3'><label>{{=form.custom.label.registro_fiscal}}</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.registro_fiscal}}
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>{{=form.custom.label.dir_telefono}}</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.dir_telefono}}
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>{{=form.custom.label.dir_movil}}</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.dir_movil}}
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>{{=form.custom.label.dir_email}}</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.dir_email}}
        </div>
    </div>

    </fieldset>
    </section>
</div>

{{=form.custom.end}}
</form>
</div>

</body>
</html>

<script>

function cargarLocalidades() {
    var municipio_id = $('#no_table_municipio_id').val();
    $.post(
        '{{=URL("cargar_localidades")}}', 'municipio_id=' + municipio_id
    ).success(function(data){
        $('#no_table_localidad_id').html(data);
    });
}

function cargarMunicipios() {
    var estado_id = $('#no_table_estado_id').val();
    $.post(
        '{{=URL("cargar_municipios")}}', 'estado_id=' + estado_id
    ).success(function(data){
        $('#no_table_municipio_id').html(data);
        cargarLocalidades();
    });
}

function cargarEstados() {
    var pais_id = $('#no_table_pais_id').val();
    $.post(
        '{{=URL("cargar_estados")}}', 'pais_id=' + pais_id
    ).success(function(data){
        $('#no_table_estado_id').html(data);
        cargarMunicipios();
    });
}

function cargarPaises() {
    $.post(
        '{{=URL("cargar_paises")}}'
    ).success(function(data){
        $('#no_table_pais_id').html(data);
        cargarEstados();
    });
}

(function( $ ){
    $.fn.validarCamposVisibles = function() {
        var flag = true;
        $(this).each(function(){
            $(this).find('[id^="no_table_"]').each(function(){
                if (!$(this).val()) {
                    $(this).css('background', '#fbe3e4');
                    flag = false;
                    console.log('you don\'t pass');
                }
            });
        });
        return flag;
    };
})( jQuery );

/* geolocation */

function getLocation() {

    if (navigator.geolocation) {
        navigator.geolocation.getCurrentPosition(showPosition);
    } else {
        console.log("Geolocation is not supported by this browser");
    }
}

function showPosition(position) {
    console.log(position.coords.longitude);
    console.log(position.coords.latitude);
}

$(document).ready(function(){

    //getLocation();

    $("#wizard").steps({
        headerTag: 'h2',
        bodyTag: 'section',
        labels: {
            next: 'Siguiente',
            previous: 'Anterior',
            finish: 'Finalizar',
            cancel: 'Cancelar'
        },
        autofocus: true,
        titleTemplate: "<center>#title#</center>",
        transitionEffect: 'slideLeft',
        onFinishing: function(event, newIndex) {

            //se usa doble selector
            var flag = $('[id^="wizard-p"][aria-hidden="false"]').validarCamposVisibles();

            if (flag) {
                $("#empresa").submit();
                $('---[role="menuitem"]').click(function(e){
                    e.preventDefault();

                    console.log('¬¬');

                    var $form = $("#empresa");
                    var serializedData = $form.serialize();
                    $.ajax({
                        url: "index2", //index2
                        type: "post",
                        data: serializedData,
                        success: function(serializedData) {
                            console.log('Inserción exitosa');
                            $('.flash').addClass('flash-success');
                            $('.flash').text('Insertado con éxito');
                            window.location.url = 'index3';
                        },
                        error: function(request, status, error) {
                            console.log('Ocurrió un error al agregar el dato nuevo');
                            $('.flash').addClass('flash-danger');
                            $('.flash').text('Ocurrió un error al insertar los datos');
                        }
                    });
                });
            } else {
                console.log('You don\'t pass');
            }

            return flag;
        },
        onStepChanging: function(event, currentIndex, newIndex){

            $('[id^="no_table_"]').on('keyup change', function(){
                $(this).css('background', '#fff');
            });

            if (currentIndex > newIndex) {
                return true;
            }

            if (currentIndex < newIndex) {
                var flag = $('[id^="wizard-p"][aria-hidden="false"]').validarCamposVisibles();
                return flag;
            }
        }
    });

    cargarPaises();

    $('#no_table_pais_id').change(function() {
        cargarEstados();
    });

    $('#no_table_estado_id').change(function() {
        cargarMunicipios();
    });

    $('#no_table_municipio_id').change(function() {
        cargarLocalidades();
    });

    /*funciones de validación*/

    $('#no_table_dir_cp').on('blur keypress', function(){
        var valor = $(this).esCodigoPostal();
        $('.codigo_postal').marcarError(
            'Este no es un código postal válido', valor
        );
    });

    $('#no_table_razon_social').on('blur keypress', function(){
        var valor = $(this).validarCampoObligatorio();
        $('.razon_social').marcarError(
            'Este campo es obligatorio', valor
        );
    });

    $('#no_table_dir_email').on('blur keypress', function(){
        var valor = $(this).esEmail();
        $('.email').marcarError(
            'Este no es un email válido', valor
        );
    });

});

</script>

<style>
/* útil para evitar la barrita  de navegación */
div.tab-content { overflow: visible; }

.focus-error {
    background: none repeat scroll 0 0 #FBE3E4;
    border: 1px solid #FBC2C4;
}

.unfocus-error {
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #0000FB;
}
</style>
