{{extend 'layout.html'}}

<div id='content'>
    <div class='well'>
        {{if session.auth:}}
        {{ult_sesion = db_maestro(db_maestro.auth_event.user_id == auth.user['id']).select(db_maestro.auth_event.time_stamp).last()}}
            <div class='row'>
                <div class='jumbotron'>
                    <h1 class="page-title txt-color-blueDark">
                        Bienvenido {{=auth.user['first_name'] + ' ' + auth.user['last_name']}}
                    </h1>
                    {{if ult_sesion:}}
                    <p>Ultima vez que iniciaste sesión: {{=ult_sesion.time_stamp}}</p>
                    {{pass}}
                </div>
            </div>
            {{if mias:}}
            <div class='row'>
                <header role="heading">
                    <h2>Tu(s) empresa(s)</h2>
                </header>
                {{for m in mias:}}
                <div class="col-sm-4 col-md-2">
                    <a href="{{=URL('cc_empresa', 'index', args=m.id)}}">
                        <div class="thumbnail">
                            <img src="{{=URL('static','images/logo-o.png')}}">
                            <div class="caption">
                                <h3>{{=m.razon_social}}</h3>
                            </div>
                        </div><!--thumbnail-->
                    </a>
                </div><!--fin col-->
                {{pass}}
            </div><!--fin row-->
            {{pass}}
            {{if compartidas:}}
            <div class='row'>
                <header role="heading">
                    <h2>Empresas compartidas contigo</h2>
                </header>
                {{for c in compartidas:}}
                <div class="col-sm-4 col-md-2">
                    <a href="{{=URL('cc_empresa', 'index', args=c.id)}}">
                        <div class="thumbnail">
                            <img src="{{=URL('static','images/logo-o.png')}}">
                            <div class="caption">
                                <h3>{{=c.razon_social}}</h3>
                            </div>
                        </div><!--thumbnail-->
                    </a>
                </div><!--fin col-->
                {{pass}}
            </div>
            {{pass}}
        {{else:}}
            <div class='row'>
                <h1 class="page-title txt-color-blueDark">
                    <span>No has iniciado sesión</span>
                </h1>
                <a class='btn btn-primary' href="{{=URL('default','login')}}">Iniciar sesión</a>
            </div><!--fin row-->
        {{pass}}
    </div><!--fin well-->
</div><!--content-->
<style>
    .thumbnail{
        border: 1px solid #bbbbbb;
        background: #cccccc;
        background: -webkit-gradient(linear, left top, left bottom, from(#eeeeee), to(#cccccc));
        background: -webkit-linear-gradient(top, #eeeeee, #cccccc);
        background: -moz-linear-gradient(top, #eeeeee, #cccccc);
        background: -ms-linear-gradient(top, #eeeeee, #cccccc);
        background: -o-linear-gradient(top, #eeeeee, #cccccc);
        color: #22262e;
        text-align: center;
    }
    .thumbnail:hover{
        background-color: #bbbbbb;
    }
    .thumbnail > img{
        margin-top: 10px;
    }
    h3{
        margin:10px;
    }
</style>
<script>
    $(document).ready(function(){

        $('.eliminar-empresa').click(function(e) {
            id = $(this).attr('id');
            nombre = $(this).data('nombre');
            $.SmartMessageBox({
                    title : "Eliminar empresa " + nombre,
                    content : "¿Estas seguro de eliminar esta empresa?",
                    buttons : "[Cancelar][Eliminar]",
                }, function(ButtonPress, Value) {
                    if (ButtonPress == "Eliminar") {

                        $.ajax({
                            type: "post",
                            url: "{{=URL('empresa', 'eliminar')}}",
                            data: {id: id},
                            success: function (response) {
                                console.log('good');
                                location.reload();
                            },
                            error: function (response) {
                                console.log('bad');
                            },
                        });
                        return 0;
                    }
                });
            e.preventDefault();
        });
    });
</script>
