{{#extend 'layout.html'}}

<!-- CSS -->
<link rel="stylesheet" href="{{=URL('static', 'css/jquery.steps.css')}}">
<link rel="stylesheet" href="{{=URL('static', 'css/bootstrap.min.css')}}">

<!-- JS -->
<script src="{{=URL('static', 'js/jquery.js')}}"></script>
<script src="{{=URL('static', 'js/bootstrap.min.js')}}"></script>
<script src="{{=URL('static', 'js/jquery.steps.js')}}"></script>

<div class='container'>

<h1>Configuración Inicial <span>Departamento y Administrador</span></h1>

<form name='departamento' action='' id='departamento' method='post'>
{{form.custom.begin}}

<div id="wizard">

    <h2>Administrador</h2>
    <section>

    <fieldset>
    <legend>Lugar</legend>

    <!-- departamento -->
    <div class='row'>
        <div class='col-md-3'><label>{{=form.custom.label.nombre_dep}}</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.nombre_dep}}
        </div>
    </div>

    <!-- datos admin -->
    <div class='row'>
        <div class='col-md-3'><label>{{=form.custom.label.nombre_emp}}</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.nombre_emp}}
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>{{=form.custom.label.ap_paterno}}</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.ap_paterno}}
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>{{=form.custom.label.ap_materno}}</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.ap_materno}}
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>{{=form.custom.label.nombre_pue}}</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.nombre_pue}}
        </div>
    </div>

    <!-- más datos, admin-->
    <div class='row'>
        <div class='col-md-3'><label>País</label></div>
        <div class='col-md-5'>
            {{#=form.custom.widget.pais_id}}
            <select id='no_table_pais_id' name='pais_id'>
                <option value="">TODO</option>
            </select>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>Estado</label></div>
        <div class='col-md-5'>
            {{#=form.custom.widget.estado_id}}
            <select id='no_table_estado_id' name='estado_id'>
                <option value="">TODO</option>
            </select>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>Municipio</label></div>
        <div class='col-md-5'>
            {{#=form.custom.widget.municipio_id}}
            <select id='no_table_municipio_id' name='municipio_id'>
                <option value="">TODO</option>
            </select>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>Localidad</label></div>
        <div class='col-md-5'>
            {{#=form.custom.widget.localidad}}
            <select id='no_table_localidad_id' name='localidad_id'>
                <option value="">TODO</option>
            </select>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>Calle</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.dir_calle}}
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>Número Exterior</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.dir_num_ext}}
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>Número Interior</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.dir_num_int}}
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>Colonia</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.dir_colonia}}
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>Código Postal</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.dir_cp}}
        </div>
    </div>

    </fieldset>
    </section>

    <h2>Otros datos</h2>
    <section>

    <fieldset>
    <legend>Otros datos</legend>

    <div class='row'>
        <div class='col-md-3'><label>Registro Fiscal</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.registro_fiscal}}
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>Teléfono</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.dir_telefono}}
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>Móvil</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.dir_movil}}
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>Email</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.dir_email}}
        </div>
    </div>

    </fieldset>
    </section>
</div>

{{=form.custom.end}}
</form>
</div>

<script>

function cargarLocalidades() {
    var municipio_id = $('#no_table_municipio_id').val();
    $.post(
        '{{=URL("cargar_localidades")}}', 'municipio_id=' + municipio_id
    ).success(function(data){
        $('#no_table_localidad_id').html(data);
    });
}

function cargarMunicipios() {
    var estado_id = $('#no_table_estado_id').val();
    $.post(
        '{{=URL("cargar_municipios")}}', 'estado_id=' + estado_id
    ).success(function(data){
        $('#no_table_municipio_id').html(data);
        cargarLocalidades();
    });
}

function cargarEstados() {
    var pais_id = $('#no_table_pais_id').val();
    $.post(
        '{{=URL("cargar_estados")}}', 'pais_id=' + pais_id
    ).success(function(data){
        $('#no_table_estado_id').html(data);
        cargarMunicipios();
    });
}

function cargarPaises() {
    $.post(
        '{{=URL("cargar_paises")}}'
    ).success(function(data){
        $('#no_table_pais_id').html(data);
        cargarEstados();
    });
}

(function( $ ){
    $.fn.validarCamposVisibles = function() {
        var flag = true;
        $(this).each(function(){
            $(this).find('[id^="no_table_"]').each(function(){
                if (!$(this).val()) {
                    $(this).css('background', '#fbe3e4');
                    flag = false;
                    console.log('you don\'t pass');
                }
            });
        });
        return flag;
    };
})( jQuery );

$(document).ready(function(){

    $("#wizard").steps({
        headerTag: 'h2',
        bodyTag: 'section',
        labels: {
            next: 'Siguiente',
            previous: 'Anterior',
            finish: 'Finalizar',
            cancel: 'Cancelar'
        },
        autofocus: true,
        titleTemplate: "<center>#title#</center>",
        transitionEffect: 'slideLeft',
        onFinishing: function(event, newIndex) {
            var flag = $('[id^="wizard-p"][aria-hidden="false"]').validarCamposVisibles();

            if (flag) {
                $("#departamento").submit();
            } else {
                console.log('You don\'t pass');
            }
            return true;

        },
        onStepChanging: function(event, currentIndex, newIndex){

            $('[id^="no_table_"]').on('keyup change', function(){
                $(this).css('background', '#fff');
            });

            if (currentIndex > newIndex) {
                return true;
            }

            if (currentIndex < newIndex) {
                var flag = $('[id^="wizard-p"][aria-hidden="false"]').validarCamposVisibles();
                return flag;
            }
        }
    });

    cargarPaises();

    $('#no_table_pais_id').change(function() {
        cargarEstados();
    });

    $('#no_table_estado_id').change(function() {
        cargarMunicipios();
    });

    $('#no_table_municipio_id').change(function() {
        cargarLocalidades();
    });

});

</script>

<style>
/* útil para evitar la barrita  de navegación */
div.tab-content { overflow: visible; }

.focus-error {
    background: none repeat scroll 0 0 #FBE3E4;
    border: 1px solid #FBC2C4;
}

.unfocus-error {
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #0000FB;
}
</style>

