<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{=response.title or request.application}}</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">

        <!-- CSS -->
        <link rel="stylesheet" href="{{=URL('static', 'css/jquery.steps.css')}}">
        <link rel="stylesheet" href="{{=URL('static', 'css/bootstrap.css')}}">
        <link rel="stylesheet" href="{{=URL('static', 'css/web2py.css')}}">

        <!-- JS -->
        <script src="{{=URL('static', 'js/jquery.js')}}"></script>
        <script src="{{=URL('static', 'js/bootstrap.min.js')}}"></script>
        <script src="{{=URL('static', 'js/jquery.steps.js')}}"></script>
        <script src="{{=URL('static', 'js/web2py.js')}}"></script>
        <script src="{{=URL('static', 'js/misc.js')}}"></script>
    </head>
<body>

<div class='container'>
<h1>Sucursal<br> <small>Configuración inicial</small></h1>

<form name='sucursal' action='' id='sucursal' method='post'>
{{form.custom.begin}}

<div id="wizard">

    <h2>Lugar</h2>
    <section>

    <fieldset>
    <legend>Datos Sucursal</legend>

    <div class='row'>
        <div class='col-md-3'><label>{{=form.custom.label.nombre_suc}}</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.nombre_suc}}
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>País</label></div>
        <div class='col-md-5'>
            <select id='no_table_pais_id' name='pais_id'>
                <option value="">TODO</option>
            </select>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>Estado</label></div>
        <div class='col-md-5'>
            <select id='no_table_estado_id' name='estado_id'>
                <option value="">TODO</option>
            </select>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>Municipio</label></div>
        <div class='col-md-5'>
            <select id='no_table_municipio_id' name='municipio_id'>
                <option value="">TODO</option>
            </select>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>Localidad</label></div>
        <div class='col-md-5'>
            <select id='no_table_localidad_id' name='localidad_id'>
                <option value="">TODO</option>
            </select>
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>Calle</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.dir_calle}}
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>Número Exterior</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.dir_num_ext}}
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>Número Interior</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.dir_num_int}}
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>Colonia</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.dir_colonia}}
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>Código Postal</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.dir_cp}}
        </div>
    </div>

    </fieldset>
    </section>

    <h2>Otros datos</h2>
    <section>

    <fieldset>
    <legend>Otros datos</legend>

    <div class='row'>
        <div class='col-md-3'><label>Registro Fiscal</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.registro_fiscal}}
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>Teléfono</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.dir_telefono}}
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>Móvil</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.dir_movil}}
        </div>
    </div>
    <div class='row'>
        <div class='col-md-3'><label>Email</label></div>
        <div class='col-md-5'>
            {{=form.custom.widget.dir_email}}
        </div>
    </div>
    </fieldset>
    </section>
</div>

{{=form.custom.end}}
</form>
</div>
</body>
</html>

<script>

function cargarLocalidades() {
    var municipio_id = $('#no_table_municipio_id').val();
    $.post(
        '{{=URL("cargar_localidades")}}', 'municipio_id=' + municipio_id
    ).success(function(data){
        $('#no_table_localidad_id').html(data);
    });
}

function cargarMunicipios() {
    var estado_id = $('#no_table_estado_id').val();
    $.post(
        '{{=URL("cargar_municipios")}}', 'estado_id=' + estado_id
    ).success(function(data){
        $('#no_table_municipio_id').html(data);
        cargarLocalidades();
    });
}

function cargarEstados() {
    var pais_id = $('#no_table_pais_id').val();
    $.post(
        '{{=URL("cargar_estados")}}', 'pais_id=' + pais_id
    ).success(function(data){
        $('#no_table_estado_id').html(data);
        cargarMunicipios();
    });
}

function cargarPaises() {
    $.post(
        '{{=URL("cargar_paises")}}'
    ).success(function(data){
        $('#no_table_pais_id').html(data);
        cargarEstados();
    });
}

(function( $ ){
    $.fn.validarCamposVisibles = function() {
        var flag = true;
        $(this).each(function(){
            $(this).find('[id^="no_table_"]').each(function(){
                if (!$(this).val()) {
                    $(this).css('background', '#fbe3e4');
                    flag = false;
                    console.log('you don\'t pass');
                }
            });
        });
        return flag;
    };
})( jQuery );

$(document).ready(function(){

    $("#wizard").steps({
        headerTag: 'h2',
        bodyTag: 'section',
        labels: {
            next: 'Siguiente',
            previous: 'Anterior',
            finish: 'Finalizar',
            cancel: 'Cancelar'
        },
        autofocus: true,
        titleTemplate: "<center>#title#</center>",
        transitionEffect: 'slideLeft',
        onFinishing: function(event, newIndex) {

            //se usa doble selector
            var flag = $('[id^="wizard-p"][aria-hidden="false"]').validarCamposVisibles();

            if (flag) {
                $("#sucursal").submit();
            } else {
                console.log('You don\'t pass');
            }

            return flag;
        },
        onStepChanging: function(event, currentIndex, newIndex){

            $('[id^="no_table_"]').on('keyup change', function(){
                $(this).css('background', '#fff');
            });

            if (currentIndex > newIndex) {
                return true;
            }

            if (currentIndex < newIndex) {
                var flag = $('[id^="wizard-p"][aria-hidden="false"]').validarCamposVisibles();
                return flag;
            }
        }
    });

    cargarPaises();

    $('#no_table_pais_id').change(function() {
        cargarEstados();
    });

    $('#no_table_estado_id').change(function() {
        cargarMunicipios();
    });

    $('#no_table_municipio_id').change(function() {
        cargarLocalidades();
    });

});

</script>

<style>
/* útil para evitar la barrita  de navegación */
div.tab-content { overflow: visible; }

.focus-error {
    background: none repeat scroll 0 0 #FBE3E4;
    border: 1px solid #FBC2C4;
}

.unfocus-error {
    background: none repeat scroll 0 0 #FFF;
    border: 1px solid #0000FB;
}
</style>
