<!DOCTYPE html>
<html lang="en-us">
	<head>
		<meta charset="utf-8">
		<!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

		<title> General Ledger </title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Use the correct meta names below for your web application
			 Ref: http://davidbcalhoun.com/2010/viewport-metatag 
			 
		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">-->
		
		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Basic Styles -->
		<link rel="stylesheet" type="text/css" media="screen" href="{{=URL('static/smartadmin','css/bootstrap.min.css')}}">	
		<link rel="stylesheet" type="text/css" media="screen" href="{{=URL('static/smartadmin','css/font-awesome.min.css')}}">

		<!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
		<link rel="stylesheet" type="text/css" media="screen" href="{{=URL('static/smartadmin','css/smartadmin-production.css')}}">
		<link rel="stylesheet" type="text/css" media="screen" href="{{=URL('static/smartadmin','css/smartadmin-skins.css')}}">	
		
		<!-- SmartAdmin RTL Support is under construction
			<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-rtl.css"> -->
		
		<!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
		<link rel="stylesheet" type="text/css" media="screen" href="css/demo.css">

		<!-- FAVICONS -->
		<link rel="shortcut icon" href="{{=URL('static/smartadmin','img/favicon/favicon.ico')}}" type="image/x-icon">
		<link rel="icon" href="{{=URL('static/smartadmin','img/favicon/favicon.ico')}}" type="image/x-icon">

		<!-- GOOGLE FONT -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

	</head>
	<body id="login" class="animated fadeInDown">
		<!-- possible classes: minified, no-right-panel, fixed-ribbon, fixed-header, fixed-width-->
		<header id="header">
			<!--<span id="logo"></span>-->

			<div id="logo-group">
				<span id="logo"> <img src="{{=URL('static/smartadmin','img/logo-blue.png')}}" alt="General Ledger"> </span>

				<!-- END AJAX-DROPDOWN -->
			</div>

			<span id="login-header-space"> <span class="hidden-mobile">¿Necesitas una cuenta?</span> <a href="{{=URL('default','register')}}" class="btn btn-info">Crear cuenta</a> </span>

		</header>

		<div id="main" role="main">

			<!-- MAIN CONTENT -->
			<div id="content" class="container">

				<div class="row">
					<div class="col-xs-12 col-sm-12 col-md-7 col-lg-7">
						<h1 class="txt-color-blueDark login-header-big">General Ledger</h1>
						<div class="hero">

							<div class="pull-left login-desc-box-l">
								<h4 class="paragraph-header">El sistema contable mas sabroso que el pozol...</h4>
								<div class="login-app-icons">
									<a href="javascript:void(0);" class="btn btn-info btn-sm">Datawork.mx</a>
									<a href="javascript:void(0);" class="btn btn-info btn-sm">Acerca de ...</a>
								</div>
							</div>
							
							<img src="{{=URL('static/smartadmin','img/demo/iphoneview.png')}}" class="pull-right display-image" alt="" style="width:210px">

						</div>

						<div class="row">
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
								<h5 class="about-heading">Todo en la nube</h5>
								<p>
									Administra tu empresa desde cualquier lugar...
								</p>
							</div>
							<div class="col-xs-12 col-sm-12 col-md-6 col-lg-5">
								<h5 class="about-heading">¡Pruébalo gratis por 30 dias!</h5>
								<p>									
									Comprueba los beneficios que General Ledger tiene para tu negocio. Regístrate hoy mismo y en menos de 5 minutos podrás comenzar a utilizar nuestro sistema contable sin compromisos.
								</p>
							</div>
						</div>

					</div>
					<!--Formulario de login-->
					<div class="col-xs-12 col-sm-12 col-md-5 col-lg-5" >
						<div class="well no-padding">
							<form method='POST' id="login-form" class="smart-form client-form">
								{{=form.custom.begin}}
								<header>
									Entrar
								</header>
								<fieldset> 
 									<section>
										<label class="label">Correo</label>
										<label class="input"> <i class="icon-append fa fa-user"></i>
											<!--<input type="email" name="email">-->
											{{=form.custom.widget.email}}
											<b class="tooltip tooltip-top-right"><i class="fa fa-user txt-color-teal"></i> Por favor ingrese su correo</b></label>
									</section>

									<section>
										<label class="label">Contraseña</label>
										<label class="input"> <i class="icon-append fa fa-lock"></i>
											<!--<input type="password" name="password">-->
											{{=form.custom.widget.password}}
											<b class="tooltip tooltip-top-right"><i class="fa fa-lock txt-color-teal"></i> Ingresa tu contraseña</b> </label>
										<div class="note">
											<a href="javascript:void();" data-toggle="modal" data-target="#recordar">¿Olvidó su contraseña?</a>
										</div>
									</section>

									<!--<section>
										<label class="checkbox">
											<input type="checkbox" name="remember" checked="">
											<i></i>Stay signed in</label>
									</section>-->
								</fieldset>
								<footer>
								{{form.element(_type='submit')['_class']='btn btn-primary'}}
									{{=form.custom.submit}}
									<!--<button type="submit" class="btn btn-primary">
										Iniciar sesión
									</button>-->
								</footer>
								{{=form.custom.end}}
							</form>

						</div>
						
						<h5 class="text-center"> - o inicia sesión con -</h5>															
							<ul class="list-inline text-center">
								<li>
									<a href="{{=URL('default/user','login')}}" class="btn btn-primary btn-circle"><i class="fa fa-google-plus"></i></a>
								</li>
							</ul>						
					</div>
				</div>
			</div>

		</div>

		<div class="modal fade" id="recordar" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
			<div class="modal-dialog">
				<div class="modal-content">					
					{{=formReset.custom.begin}}
					<div class="modal-header">
						<button type="button" class="close" data-dismiss="modal" aria-hidden="true">
							×
						</button>
						<h4 class="modal-title">Recordar contraseña</h4>
					</div>
					<div class="modal-body">
						<p>
							<section>
								<label class="input"> <i class="icon-append">@</i>
									<!--<input type="email" name="email" placeholder="Email address">-->
									{{formReset.element(_name='email')['_placeholder']='Correo electronico'}}
									{{=formReset.custom.widget.email}}
									<b class="tooltip tooltip-bottom-right">Necesario para verificar su cuenta</b> </label>
							</section>
						</p>
					</div>
					<div class="modal-footer">
						<button type="button" class="btn btn-default" data-dismiss="modal">
							Cerrar
						</button>
						{{formReset.element(_type='submit')['_class']='btn btn-primary'}}
						{{=formReset.custom.submit}}
						<!--<button type="button" class="btn btn-primary">
							Save changes
						</button>-->
					</div>
				{{=formReset.custom.end}}
				</div><!-- /.modal-content -->
			</div><!-- /.modal-dialog -->
		</div>

		<!--================================================== -->	

		<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
		<script src="{{=URL('static/smartadmin','js/plugin/pace/pace.min.js')}}"></script>

	    <!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
	    <script src="//ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script>
		<script> if (!window.jQuery) { document.write('<script src="{{=URL('static/smartadmin','js/libs/jquery-2.0.2.min.js')}}"><\/script>');} </script>

	    <script src="//ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script>
		<script> if (!window.jQuery.ui) { document.write('<script src="{{=URL('static/smartadmin','js/libs/jquery-ui-1.10.3.min.js')}}"><\/script>');} </script>

		<!-- JS TOUCH : include this plugin for mobile drag / drop touch events 		
		<script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->

		<!-- BOOTSTRAP JS -->		
		<script src="{{=URL('static/smartadmin','js/bootstrap/bootstrap.min.js')}}"></script>

		<!-- CUSTOM NOTIFICATION -->
		<script src="{{=URL('static/smartadmin','js/notification/SmartNotification.min.js')}}"></script>

		<!-- JARVIS WIDGETS -->
		<script src="{{=URL('static/smartadmin','js/smartwidgets/jarvis.widget.min.js')}}"></script>
		
		<!-- EASY PIE CHARTS -->
		<script src="{{=URL('static/smartadmin','js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js')}}"></script>
		
		<!-- SPARKLINES -->
		<script src="{{=URL('static/smartadmin','js/plugin/sparkline/jquery.sparkline.min.js')}}"></script>
		
		<!-- JQUERY VALIDATE -->
		<script src="{{=URL('static/smartadmin','js/plugin/jquery-validate/jquery.validate.min.js')}}"></script>
		
		<!-- JQUERY MASKED INPUT -->
		<script src="{{=URL('static/smartadmin','js/plugin/masked-input/jquery.maskedinput.min.js')}}"></script>
		
		<!-- JQUERY SELECT2 INPUT -->
		<script src="{{=URL('static/smartadmin','js/plugin/select2/select2.min.js')}}"></script>

		<!-- JQUERY UI + Bootstrap Slider -->
		<script src="{{=URL('static/smartadmin','js/plugin/bootstrap-slider/bootstrap-slider.min.js')}}"></script>
		
		<!-- browser msie issue fix -->
		<script src="{{=URL('static/smartadmin','js/plugin/msie-fix/jquery.mb.browser.min.js')}}"></script>
		
		<!-- FastClick: For mobile devices -->
		<script src="{{=URL('static/smartadmin','js/plugin/fastclick/fastclick.js')}}"></script>
		
		<!--[if IE 7]>
			
			<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>
			
		<![endif]-->

		<!-- MAIN APP JS FILE -->
		<script src="{{=URL('static/smartadmin','js/app.js')}}"></script>

		<script type="text/javascript">
			runAllForms();

			$(function() {
				// Validation
				$("#login-form").validate({
					// Rules for form validation
					rules : {
						email : {
							required : true,
							email : true
						},
						password : {
							required : true,
							minlength : 3,
							maxlength : 20
						}
					},

					// Messages for form validation
					messages : {
						email : {
							required : 'Introduzca su dirección de correo electrónico',
							email : 'Introduce una dirección de correo electrónico válida'
						},
						password : {
							required : 'Por favor, introduzca su contraseña'
						}
					},

					// Do not change code below
					errorPlacement : function(error, element) {
						error.insertAfter(element.parent());
					}
				});
			});

		</script>

	</body>
</html>