{{extend 'layout.html'}}
{{if session.auth and request.args(0)=='profile':}}
  {{pic = 'http://pbs.twimg.com/profile_images/2284174872/7df3h38zabcvjylnyfe3_normal.png'}}
  <!--<img src="{{=session.picture if session.picture else pic}}" alt='Yo' class="online" />-->
<div class="row">
    <article class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
        <legend>
            <h1>
                <p>
                    <i class="fa-fw fa fa-user"></i>
                 	{{=auth.user['first_name']}} {{=auth.user['last_name']}}   
                </p>
                <small>Perfil de usuario</small>
            </h1>
        </legend>
    </article>
</div>
{{else:}}
	<h2>{{=T( request.args(0).replace('_',' ').capitalize() )}}</h2>
{{pass}}
<div id="web2py_user_form">
{{
if request.args(0)=='login' and not session.auth_2_factor_user:
    if not 'register' in auth.settings.actions_disabled:
        form.add_button(T('Register'),URL(args='register', vars={'_next': request.vars._next} if request.vars._next else None),_class='btn')
    pass
    if not 'request_reset_password' in auth.settings.actions_disabled:
        form.add_button(T('Lost Password'),URL(args='request_reset_password'),_class='btn')
    pass
pass
=form
}}
</div>
<script language="javascript"><!--
jQuery("#web2py_user_form input:visible:enabled:first").focus();
{{if request.args(0)=='register':}}
    web2py_validate_entropy(jQuery('#auth_user_password'),100);
{{elif request.args(0) in ('change_password','reset_password'):}}
    web2py_validate_entropy(jQuery('#no_table_new_password'),100);
{{pass}}
//--></script>

