<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Wizard Catálogo de Cuentas</title>
        <meta name="description" content="">
        <meta name="viewport" content="width=device-width">
    
    <script src="{{=URL('static', 'js/jquery.js')}}"></script>
    <script src="{{=URL('static', 'js/bootstrap.min.js')}}"></script>
    <script src="{{=URL('static', 'js/jquery.steps.js')}}"></script>
        
    <link rel="stylesheet" href="{{=URL('static', 'css/jquery.steps.css')}}">
    <link rel="stylesheet" href="{{=URL('static', 'smartadmin/css/bootstrap-combined.min.css')}}">
    <link rel="stylesheet" href="{{=URL('static', 'css/bootstrap.css')}}">
    
    <!-- Basic Styles -->
		
		<link rel="stylesheet" type="text/css" media="screen" href="{{=URL('static/smartadmin','css/font-awesome.min.css')}}">

		<!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
		<link rel="stylesheet" type="text/css" media="screen" href="{{=URL('static/smartadmin','css/smartadmin-production.css')}}">
		<link rel="stylesheet" type="text/css" media="screen" href="{{=URL('static/smartadmin','css/smartadmin-skins.css')}}">

		<!-- SmartAdmin RTL Support is under construction
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-rtl.css"> -->

		<!-- We recommend you use "your_style.css" to override SmartAdmin
		     specific styles this will also ensure you retrain your customization with each SmartAdmin update.
		<link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->

		<!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
		<link rel="stylesheet" type="text/css" media="screen" href="{{=URL('static/smartadmin','css/demo.css')}}">

		<!-- FAVICONS -->
		<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
		<link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">
    <link href="{{=URL('static', 'css/tabs.css')}}" rel="stylesheet">
        <style>
        .wizard > .content
            {
                overflow-y:auto;
            }
         .wizard ul > li 
        {
            padding:10px 5px 0 5px;
            margin: 0;	
        }
    </style>
        
</head>
<body>
<script>
$(function (){
    
    $( document ).ready(function() {
        $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Colapsar esta rama');
        var children = $('.tree li.parent_li > span').parent('li.parent_li').find(' > ul > li');
        if (children.is(":visible")) {
            children.hide('fast');
           $('.tree li.parent_li > span').attr('title', 'Expandir esta rama').find(' > i').addClass('fa-plus-circle').removeClass('fa-minus-circle');
        }
       
    });
    $("#wizard").steps({
        headerTag: 'h2',
        bodyTag: 'section',
        labels: {
            next: 'Siguiente',
            previous: 'Anterior',
            finish:'Terminar',
            cancel: 'Cancelar'
        },
        autofocus: true,
        titleTemplate: "<center>#title#</center>",
        transitionEffect: 'slideLeft',
        onFinishing: function(event, newIndex) {
            
            window.location.href ='#modal1'
            return true;
        }, 
    });
   $('.tree li:has(ul)').addClass('parent_li').find(' > span').attr('title', 'Colapsar esta rama');
    $('.tree li.parent_li > span').on('click', function (e) {
            var children = $(this).parent('li.parent_li').find(' > ul > li');
            if (children.is(":visible")) {
                children.hide('fast');
                $(this).attr('title', 'Expandir esta rama').find(' > i').addClass('fa-plus-circle').removeClass('fa-minus-circle');
            } else {
                children.show('fast');
                $(this).attr('title', 'Colapsar esta rama').find(' > i').addClass('fa-minus-circle').removeClass('fa-plus-circle');
            }
            e.stopPropagation();
        });
});
</script>
    <div id='wizard'>
    <h2>Catálogo de Cuentas del SAT</h2>
    <section>
        <p>
        Le presentamos las cuentas del catálogo del SAT:        
        </p>
       {{=cc_empresa}}
    </section>

    <h2>Pre-configuración</h2>
    <section>
     <h1>
        Pre-configuración del Catálogo de Cuentas
     </h1>   
     
     <div>
    Para configurar el catálogo de cuentas debe elegir si utilizará el catálogo de cuentas del SAT mostrado previamente o si lo configurará posteriormente creando todas las cuentas necesarias.
    </div>
        <br>
     <div class="table">
        <div class="fila_form">
          <div class="cell">¿Desea utilizar el catálogo de cuentas del SAT? </div>
          <div class="cell"><select name='sel_preconf_cc' id='sel_preconf_cc'>
            <option value='1'>
                SI
            </option>
            <option value='2'>
                NO
            </option>
            </select>
            </div>
         </div>
    </div>
      
  </section>
        
    </div>
    
<div id="modal1" class="modalmask">
    <div class="modalbox movedown">
        <a href="#close" title="Cerrar" class="close">X</a>
        <h2>Crear Catálogo</h2>
        <p>El catálogo se creará de acuerdo a las opciones elegidas</p>
        <p><button name='btn_enviar'  id='btn_enviar'>Confirmar</p>
    </div>
</div>   


<script>
    $(document).ready(function(){
        
        jQuery(function(){
            $('#btn_enviar').click(function(){
              empresa_id=1;
              cc_preconf = jQuery('#sel_preconf_cc').val();
                jQuery.post('{{=URL('wiz_cc')}}',{empresa_id:empresa_id, cc_preconf:cc_preconf}).success(function(data){
                        window.location = "{{=URL('cc_empresa','index')}}"
              });
              
             });
        });
        
    });
</script>
</body>
</html>
