.*~
*.pyc
*.pyo
*~
#*
*.1
*.bak
*.bak2
Thumbs.db
.DS_Store
databases/*.*
errors/*.*
progress.log
sessions/*.*
controllers/.DS_Store
controllers/*.pyc
controllers/*.bak
controllers/*.bak2
controllers/*.*~
controllers/*.1
languages/.DS_Store
languages/*.pyc
languages/*.bak
languages/*.bak2
languages/*.*~
languages/*.1
models/.DS_Store
models/*.pyc
models/*.bak
models/*.bak2
models/*.*~
models/*.1
views/*/.DS_Store
views/*/*.pyc
views/*/*.bak
views/*/*.bak2
views/*/*.*~
views/*/*.1
private/*
