
<h1>Permisos<br>
<small>Usuarios, Grupos y Asignación de Usuarios a Grupos</small>
</h1>

<br>
<button class="boton_menu gn-icon gn-icon-usuario" onclick="location.href='{{=URL('permisos','index')}}'">Usuarios</button>
<button class="boton_menu gn-icon gn-icon-grupo" onclick="location.href='{{=URL('permisos','grupos')}}'">Grupos</button>
<button class="boton_menu gn-icon gn-icon-permiso" onclick="location.href='{{=URL('permisos','membresia')}}'">Membresía</button>
<button class="boton_menu gn-icon gn-icon-permiso" onclick="location.href='{{=URL('permisos','permisos')}}'">Permisos</button>
<br>
