<!DOCTYPE html>
<html lang="es">
	<head>
		<meta charset="utf-8">
		<!--<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">-->

		<title>Sistema Contable</title>
		<meta name="description" content="">
		<meta name="author" content="">

		<!-- Use the correct meta names below for your web application
			 Ref: http://davidbcalhoun.com/2010/viewport-metatag

		<meta name="HandheldFriendly" content="True">
		<meta name="MobileOptimized" content="320">-->

		<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">

		<!-- Basic Styles -->
        <link rel="stylesheet" type="text/css" media="screen" href="{{=URL('static/smartadmin','css/bootstrap.min.css')}}">
		<link rel="stylesheet" type="text/css" media="screen" href="{{=URL('static/smartadmin','css/font-awesome.min.css')}}">

		<!-- SmartAdmin Styles : Please note (smartadmin-production.css) was created using LESS variables -->
		<link rel="stylesheet" type="text/css" media="screen" href="{{=URL('static/smartadmin','css/smartadmin-production.css')}}">
		<link rel="stylesheet" type="text/css" media="screen" href="{{=URL('static/smartadmin','css/smartadmin-skins.css')}}">

		<!-- SmartAdmin RTL Support is under construction
		<link rel="stylesheet" type="text/css" media="screen" href="css/smartadmin-rtl.css"> -->

		<!-- We recommend you use "your_style.css" to override SmartAdmin
		     specific styles this will also ensure you retrain your customization with each SmartAdmin update.
		<link rel="stylesheet" type="text/css" media="screen" href="css/your_style.css"> -->

		<!-- Demo purpose only: goes with demo.js, you can delete this css when designing your own WebApp -->
		<link rel="stylesheet" type="text/css" media="screen" href="{{=URL('static/smartadmin','css/demo.css')}}">

		<!-- FAVICONS -->
		<link rel="shortcut icon" href="img/favicon/favicon.ico" type="image/x-icon">
		<link rel="icon" href="img/favicon/favicon.ico" type="image/x-icon">

		<!-- GOOGLE FONT -->
		<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,300,400,700">

  <!-- All JavaScript at the bottom, except for Modernizr which enables
       HTML5 elements & feature detects
  <script src="{{=URL('static','js/modernizr.custom.js')}}"></script> -->

  <!-- include stylesheets -->
  {{
  #response.files.insert(0,URL('static','css/web2py.css'))
  #response.files.insert(1,URL('static','css/bootstrap.min.css'))
  #response.files.insert(2,URL('static','css/bootstrap-responsive.min.css'))
  #response.files.insert(3,URL('static','css/web2py_bootstrap.css'))
  }}

  {{#include 'web2py_ajax.html'}}

  {{
  # using sidebars need to know what sidebar you want to use
  left_sidebar_enabled = globals().get('left_sidebar_enabled',False)
  right_sidebar_enabled = globals().get('right_sidebar_enabled',False)
  middle_columns = {0:'span12',1:'span9',2:'span6'}[
    (left_sidebar_enabled and 1 or 0)+(right_sidebar_enabled and 1 or 0)]
  }}

  	<script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
	<script src="//code.jquery.com/jquery-migrate-1.2.1.min.js"></script>

  <!-- uncomment here to load jquery-ui
  <link rel="stylesheet" href="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/themes/ui-lightness/jquery-ui.css" type="text/css" media="all" />
  <script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.4/jquery-ui.js" type="text/javascript"></script>
  <script src="//code.jquery.com/jquery-1.9.1.js"></script>
       uncomment to load jquery-ui //-->

  <noscript><link href="{{=URL('static', 'css/web2py_bootstrap_nojs.css')}}" rel="stylesheet" type="text/css" /></noscript>
  {{block head}}{{end}}

  <!-- se agrega para hacer editables los GRID -->
  {{block head}}
  {{end}}

<!-- se agrega para hacer editables los GRID -->
<!--script src="http://ajax.googleapis.com/ajax/libs/jquery/1.3.2/jquery.min.js" type="text/javascript" charset="utf-8"></script-->
<script src="{{=URL('static', 'js/jeditable/jquery.jeditable.js')}}"></script>

<style>

/* #MEDIA QUERIES SECTION */

/*
*Grid
*
* The default style for SQLFORM.grid even using jquery-iu or another ui framework
* will look better with the declarations below
* if needed to remove base.css consider keeping these following lines in some css file.
*/
/* .web2py_table {border:1px solid #ccc} */
.web2py_paginator {}
.web2py_grid {width:100%}
.web2py_grid table {width:100%}
.web2py_grid tbody td {padding:4px 5px 2px 5px; vertical-align: middle;}
.web2py_grid .web2py_form td {vertical-align: top;}

.web2py_grid thead th,.web2py_grid tfoot td {
	background-color: #f5f5f5;
   padding:10px 5px 10px 5px;
   background-image: -moz-linear-gradient(center top , #f2f2f2 0px, #fafafa 100%);
}
.web2py_grid thead th a,.web2py_grid tfoot td a{
    color:#444;
}

/*Estilo de las filas del grid*/
.web2py_grid tr.odd {
	background-color:#f3f3f3;
	border-top-style:solid;
	border-color: #CCC;
	border-width: 1px;
}
.web2py_grid tr.even {
	background-color:#f9f9f9;
	border-top-style:solid;
	border-color: #CCC;
	border-width: 1px;
}
.web2py_grid tr.odd:hover,
.web2py_grid tr.even:hover {
	background-color: #e5e5e5;
    
}
/*Fin Estilo de las filas del grid*/


.web2py_console form {
    width: 100%;
    display: inline;
    vertical-align: middle;
    margin: 0 0 0 5px;
}

.web2py_console form select {
    margin:0;
}

.web2py_search_actions {
    float:left;
    text-align:left;
}

.web2py_grid .row_buttons {
    min-height:25px;
    vertical-align:middle;
}
.web2py_grid .row_buttons a {
    margin:3px;
}

.web2py_search_actions {
    width:100%;
}
/*
.web2py_grid .row_buttons a,
.web2py_paginator ul li a,
.web2py_search_actions a,
.web2py_console input[type=submit],
.web2py_console input[type=button],
.web2py_console button {
    line-height:20px;
    margin-right:2px; display:inline-block;
    padding:3px 5px 3px 5px;
}*/

.web2py_counter {
    margin-top:5px;
    margin-right:2px;
    width:35%;
    float:right;
    text-align:right;
}

/*Fix firefox problem*/
.web2py_table {clear:both; display:block}

.web2py_paginator {
	margin-top: 2px;
   padding:5px;
   text-align:right;
   background-color:#f2f2f2;

}
.web2py_paginator ul {
    list-style-type:none;
    margin:0px;
    padding:0px;
}

.web2py_paginator ul li {
    display:inline;
}

.web2py_paginator .current {
    font-weight:bold;
}


.web2py_breadcrumbs{
    list-style: none;
}
span.divider{
	display: none;
}
.w2p_grid_breadcrumb_elem {
    display: inline-block;
}
.w2p_grid_breadcrumb_elem a{
    color: #22262E;
}
.web2py_breadcrumbs ul {
    list-style:none;
    margin-left: 0px;
    /*background-color: #F3F3F3;*/
    padding: 5px;
    padding-left: 10px;
}
.web2py_breadcrumbs ul li + li:before{
    padding: 0 5px;
    color: #22262E;
    content: "\27A4";
    cursor: default;
}
.web2py_breadcrumbs ul li.active a{
    color: #5F6F81;
    text-decoration: none;
}
.w2p_export_menu{
	color: #22262E;
}
.w2p_export_menu a{
	padding-left: 5px;
	color: #22262E;
}

.web2py_console form { vertical-align: middle; }
.web2py_console input, .web2py_console select,
.web2py_console a { margin: 2px; }

.web2py_htmltable {
   width: 100%;
   overflow-x: auto;
   -ms-overflow-x:scroll;
}
/*Estilos del select*/
select{
	padding: 3px;
}
/*Fin del estilo del select*/

/*Estilos de errores en los campos*/
.error_wrapper{
  background-color: #f2dede;
	border-style: solid;
  	border-color: #a94442;
   border-width: 1px;
   border-radius: 4px;
   padding: 2px 3px;
   margin-top: 2px;
   margin-bottom: 2px;
   color: #a94442;
}
</style>

	</head>
	<body class="minified fixed-header fixed-navigation smart-style-1">
		<!-- possible classes: minified, fixed-ribbon, fixed-header, fixed-width-->

		<!-- HEADER -->
		<header id="header">
			<div id="logo-group">

				<!-- PLACE YOUR LOGO HERE -->
				<span id="logo"> <img src="{{=URL('static','images/logo-pale.png')}}" alt="Sistema Contable"> </span>
				<!-- END LOGO PLACEHOLDER -->

				<!-- Note: The activity badge color changes when clicked and resets the number to 0
				Suggestion: You may want to set a flag when this happens to tick off all checked messages / notifications -->
				<span id="activity" class="activity-dropdown"> <i class="fa fa-user"></i> <b class="badge"> 0 </b> </span>

				<!-- AJAX-DROPDOWN : control this dropdown height, look and feel from the LESS variable file -->
				<div class="ajax-dropdown">

					<!-- the ID links are fetched via AJAX to the ajax container "ajax-notifications" -->
					<div class="btn-group btn-group-justified" data-toggle="buttons">
						<label class="btn btn-default">
							<input type="radio" name="activity" id="ajax/notify/mail.html">
							Mensajes (0) </label>
						<label class="btn btn-default">
							<input type="radio" name="activity" id="ajax/notify/notifications.html">
							Notificaciones (0) </label>
						<label class="btn btn-default">
							<input type="radio" name="activity" id="ajax/notify/tasks.html">
							Tareas (0) </label>
					</div>

					<!-- notification content -->
					<div class="ajax-notifications custom-scroll">

						<div class="alert alert-transparent">
							<h4>Click a button to show messages here</h4>
							This blank page message helps protect your privacy, or you can show the first message here automatically.
						</div>

						<i class="fa fa-lock fa-4x fa-border"></i>

					</div>
					<!-- end notification content -->

					<!-- footer: refresh area -->
					<span> Last updated on:
						{{	from datetime import *
							=datetime.today()
						}}
						<button type="button" data-loading-text="<i class='fa fa-refresh fa-spin'></i> Loading..." class="btn btn-xs btn-default pull-right">
							<i class="fa fa-refresh"></i>
						</button> </span>
					<!-- end footer -->

				</div>
				<!-- END AJAX-DROPDOWN -->
			</div>
			<div id="project-context" class="">
				{{if session.instancias:}}
				<span class="label">Empresa:</span>
				<span id="project-selector" class="popover-trigger-element dropdown-toggle" data-toggle="dropdown" rel="tooltip" data-placement="bottom" data-original-title="Click para ver/cambiar de empresa">
					{{nom = db_maestro(db_maestro.empresa.id == session.instancias ).select(db_maestro.empresa.razon_social).first()}}
					{{=nom.razon_social}}
					<i class="fa fa-angle-down"></i>
				</span>
				<ul class="dropdown-menu">
				{{if session.auth:
					mias = db_maestro(
					                (db_maestro.mi_empresa.user_id == auth.user['id']) &\
					                (db_maestro.mi_empresa.empresa_id == db_maestro.empresa.id) &\
					                (db_maestro.mi_empresa.tipo == 1)
						           ).select(
						                   db_maestro.empresa.razon_social,
						                   db_maestro.empresa.id
						                   )
		            compartidas = db_maestro(
							                (db_maestro.mi_empresa.user_id == auth.user['id']) &\
							                (db_maestro.mi_empresa.empresa_id == db_maestro.empresa.id) &\
							                (db_maestro.mi_empresa.tipo == 2)
							            	).select(
							                    db_maestro.empresa.razon_social,
							                    db_maestro.empresa.id
							                 	)

				}}
				 	{{if mias:}}
				 		<li class="divider"></li>
				 		<li style="font-weight:bold;">Tu(s) empresa(s)</li>
				 		<li class="divider"></li>
				 		{{for m in mias:}}
				 			<li><a href="{{=URL('default', 'empresa', args=m.id)}}">{{=m.razon_social}}</a></li>				 			
				 		{{pass}}
				 	{{pass}}
				 	{{if compartidas:}}
				 		<li class="divider"></li>
				 		<li style="font-weight:bold;">Compartidas contigo</li>
				 		<li class="divider"></li>
				 		{{for c in compartidas:}}
				 			<li><a href="{{=URL('default', 'empresa', args=c.id)}}">{{=c.razon_social}}</a></li>				 			
				 		{{pass}}
				 	{{pass}}				 		
				{{pass}}
				</ul>
				{{pass}}				
			</div>


			<!-- pulled right: nav area -->
			<div class="pull-right">

				<!-- collapse menu button-->
				<div id="hide-menu" class="btn-header pull-right">
					<span> <a href="javascript:void(0);" title="Collapse Menu"><i class="fa fa-reorder"></i></a> </span>
				</div>
				<!-- end collapse menu -->


				<!-- logout button -->
				<div id="logout" class="btn-header transparent pull-right">
					<span> <a data-logout-msg="Cerrar sesión y salir." href="{{=URL('default/user','logout')}}" title="Cerrar sesión"><i class="fa fa-sign-out"></i></a> </span>
				</div>
				<!-- end logout button -->

				<!-- search mobile button (this is hidden till mobile view port)
				<div id="search-mobile" class="btn-header transparent pull-right">
					<span> <a href="javascript:void(0)" title="Search"><i class="fa fa-search"></i></a> </span>
				</div>
				end search mobile button -->

				<!-- input: search field
				<form action="#search.html" class="header-search pull-right">
					<input type="text" placeholder="Buscar" id="search-fld">
					<button type="submit">
						<i class="fa fa-search"></i>
					</button>
					<a href="javascript:void(0);" id="cancel-search-js" title="Cancel Search"><i class="fa fa-times"></i></a>
				</form>-->
				<!-- end input: search field -->
			</div>
			<!-- end pulled right: nav area -->

		</header>
		<!-- END HEADER -->

		<!-- Left panel : Navigation area -->
		<!-- Note: This width of the aside area can be adjusted through LESS variables -->
		<aside id="left-panel">

			<!-- User info -->
			<div class="login-info">
				<span> <!-- User image size is adjusted inside CSS, it should stay as it -->

					<a href="javascript:void(0);" id="show-shortcut">
                      {{if session.auth:}}
                          {{pic = 'http://pbs.twimg.com/profile_images/2284174872/7df3h38zabcvjylnyfe3_normal.png'}}
                          <img src="{{=session.picture if session.picture else pic}}" alt='Yo' class="online" />
                          <span>{{=auth.user['first_name']}}</span>
                          <i class="fa fa-angle-down"></i>
                      {{else:}}
                      <a class="gn-icon gn-icon-login" href={{=URL('default','login')}}>
                          <img src="{{=URL('static/smartadmin','img/avatars/male.png')}}" alt="me" class="online" />

                          <span>Iniciar sesión</span></a>
                      {{pass}}
					</a>

				</span>
			</div>
			<!-- end user info -->

			<!-- NAVIGATION : This navigation is also responsive

			To make this navigation dynamic please make sure to link the node
			(the reference to the nav > ul) after page load. Or the navigation
			will not initialize.
			-->

{{if session.instancias:}}
			<nav>
				<!-- NOTE: Notice the gaps after each icon usage <i></i>..
				Please note that these links work a bit different than
				traditionat hre="" links. See documentation for details.
				-->

				<ul>
					<li class="">					
						{{if session.instancias:}}
						<a href="{{=URL('default','empresa')}}">
							<i class="fa fa-lg fa-fw fa-home"></i>
							<span class="menu-item-parent">Home</span>
						</a>
						{{else:}}
						<a href="{{=URL('default','index')}}">
							<i class="fa fa-lg fa-fw fa-home"></i>
							<span class="menu-item-parent">Home</span>
						</a>
						{{pass}}
					</li>
					<li>
						<a href="javascript:void();">
							<i class="fa fa-lg fa-fw  fa-file-text-o "></i>
							<span class="menu-item-parent">Pólizas</span>
						</a>

                        {{if session.instancias:}}
                        {{db = empresas.dbs[int(session.instancias)]}}
                        <!-- perfeccionar esto -->
                        {{ultimo = db(db.periodo).select(db.periodo.id).last()}}
						<ul>
							<li>
                                {{if ultimo:}}
                                <a href="{{=URL('poliza', 'listar', vars={'id':ultimo.id})}}">
                                {{else:}}
                                <a href="javascript:void(0)" disabled='disabled'>
                                {{pass}}
									<i class="fa fa-lg fa-fw  fa-plus-square"></i>
									Ver pólizas
								</a>
							</li>
                            <li>
                                <a href="{{=URL('poliza','importar_polizas')}}"> 
                                	<i class="fa fa-lg fa-fw  fa-upload"></i>
                                	Importar pólizas 
                                </a>
                            </li>
						</ul>
                        {{pass}}

					</li>
					<li>
						<a href="javascript:void();"><i class="fa fa-lg fa-fw fa-clipboard  "></i> <span class="menu-item-parent">Reportes</span></a>
						<ul>
							<li>
								<a href="{{=URL('reportes','libro_diario')}}">
									<i class="fa fa-book"></i>
									Libro diario
								</a>
                                
                            </li>
                            <li>
                                <a href="{{=URL('reportes','estado_resultados')}}">
									<i class="fa fa-lg fa-fw fa-usd"></i>
									Estado de resultados
								</a>
                            </li>
                            <li>
                                <a href="{{=URL('reportes','balanza')}}">
									<i class="fa fa-filter"></i>
									Balanza
								</a>
                            </li>
                            <li>
								<a href="{{=URL('reportes','balance_general')}}">
									<i class="fa fa-bar-chart-o"></i>
									Balance general
								</a>
                            </li>
                            <li>
                                <a href="javascript:void();">
									<i class="fa fa-fw fa-folder-open"></i>
									Reportes Creados
								</a>
                                {{if session.instancias:}}
                                {{db=empresas.dbs[int(session.instancias)]}}
                                {{reportes=db(db.reporte).select(db.reporte.ALL)}}
                                <ul>
                                    {{for reporte in reportes:}}
                                    {{if (reporte.nombre!='estado_resultados') and (reporte.estatus==1):}}
                                    <li>
                                        <a href="{{=URL('reportes','reportes_creados',vars={'reporte_id':reporte.id})}}">
                                            
                                             {{=reporte.descripcion}}
                                        </a>
                                    </li>
                                    {{pass}}
                                    {{pass}}
                               {{pass}}
                                </ul>
                            </li>
						</ul>
					</li>
					<li>
						<a href="javascript:void();"><i class="fa fa-lg fa-fw fa-cog"></i> <span class="menu-item-parent"> Configuraciones</span></a>
						<ul>
                            <li>
                                <a href="javascript:void();"><i class="fa fa-fw fa-folder-open"></i> Catalogos</a>
                                <ul>
                                	<li>
                                        <a href="{{=URL('periodo','index')}}"> Periodos </a>
                                    </li>
                                    <li>
                                        <a href="{{=URL('cc_empresa','cc_grid')}}"> Cuentas Contables </a>
                                    </li>
                                    <li>
                                        <a style="color:#595959;" href="javascript:void();" disabled='disabled'> Sucursales </a>
                                    </li>
                                    <li>
                                        <a style="color:#595959;" href="javascript:void();" disabled='disabled'> Paises </a>
                                    </li>
                                    <li>
                                        <a style="color:#595959;" href="javascript:void();" disabled='disabled'> Estados </a>
                                    </li>
                                    <li>
                                        <a style="color:#595959;" href="javascript:void();" disabled='disabled'> Municipios </a>
                                    </li>
                                    <li>
                                        <a style="color:#595959;" href="javascript:void();" disabled='disabled'> Localidades </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
                                <a href="javascript:void();"><i class="fa fa-lg fa-fw fa-bar-chart-o"></i> Reportes</a>
                                <ul>
                                    <li>
                                        <a href="{{=URL('configuracion','estado_resultados')}}"><i class="fa fa-fw "></i> Estado de Resultados </a>
                                    </li>
                                    <li>
                                        <a href="{{=URL('configuracion','wizard_reportes')}}"><i class="fa fa-fw "></i> Wizard de Reportes </a>
                                    </li>
                                </ul>
                            </li>
                            <li>
								<a href="javascript:void();">
									<i class="fa fa-fw fa-user"></i> Usuarios
								</a>
								<ul>
									<li>
										<a href="{{=URL('permisos','index')}}"> Listar usuarios </a>
									</li>
                                    <li>
										<a href="{{=URL('permisos','grupos')}}"> Grupos </a>
									</li>
                                    <li>
										<a href="{{=URL('permisos','membresia')}}"> Membresía </a>
									</li>
									<li>
										<a href="{{=URL('permisos','permisos')}}"> Permisos </a>
									</li>
								</ul>
							</li>
							<li>
                                <a href="{{=URL('empresa','configuracion')}}"><i class="fa fa-fw  fa-building "></i> Empresa </a>
                            </li>
						</ul>
					</li>
				</ul>
			</nav>
{{else:}}
            <nav>
                <ul>
                    <li>
                        <a href="{{=URL('default','index.html')}}" title="Dashboard"><i class="fa fa-lg fa-fw fa-home"></i> <span class="menu-item-parent">Dashboard</span></a>
                    </li>
                    <li>
                        <a href="{{=URL('default','empresa_wizard.html')}}">
                            <i class="fa fa-lg fa-fw fa-building"></i>
                            <span class="menu-item-parent">Crear Empresa</span>
                        </a>
                    </li>
                </ul>
            </nav>
{{pass}}

			<span class="minifyme"> <i class="fa fa-arrow-circle-left hit"></i> </span>

		</aside>
		<!-- END NAVIGATION -->

		<!-- MAIN PANEL -->
		<div id="main" role="main">
			<!-- MAIN CONTENT -->
			<div id="content">				
				<div class="well">
		        	{{include}}
		        </div>
			</div>
			<!-- END MAIN CONTENT -->
		</div>
		<!-- END MAIN PANEL -->
		<!-- SHORTCUT AREA : With large tiles (activated via clicking user name tag)
		Note: These tiles are completely responsive,
		you can add as many as you like
		-->
		<div id="shortcut">
			<ul>				
				<li>
					<a href="{{=URL('default','user/profile')}}" class="jarvismetro-tile big-cubes selected bg-color-green"> <span class="iconbox"> <i class="fa fa-user fa-4x"></i> <span>Mi Pérfil </span> </span> </a>
				</li>
			{{if session.instancias:}}
				{{if mias:}}
					{{for m in mias:}}					
					<li>
						<a href="{{=URL('default', 'empresa', args=m.id)}}" class="jarvismetro-tile big-cubes bg-color-blueDark {{='selected' if int(session.instancias) == int(m.id) else ''}}" > <span class="iconbox"> <i class="fa fa-building  fa-4x"></i> <span>{{=m.razon_social}}</span> </span> </a>
					</li>
					{{pass}}
				{{pass}}
				{{if compartidas:}}
				 	{{for c in compartidas:}}
				 	<li>
						<a href="{{=URL('default', 'empresa', args=c.id)}}" class="jarvismetro-tile big-cubes selected bg-color-blue {{='selected' if int(session.instancias) == int(c.id) else ''}}" > <span class="iconbox"> <i class="fa fa-building  fa-4x"></i> <span>{{=c.razon_social}}</span> </span> </a>
					</li>
					{{pass}}
				{{pass}}
			{{pass}}
			</ul>
		</div>
		<!-- END SHORTCUT AREA -->		

		<!--================================================== -->

		<!-- PACE LOADER - turn this on if you want ajax loading to show (caution: uses lots of memory on iDevices)-->
		<script data-pace-options='{ "restartOnRequestAfter": true }' src="{{=URL('static/smartadmin','js/plugin/pace/pace.min.js')}}"></script>

		<!-- Link to Google CDN's jQuery + jQueryUI; fall back to local -->
		<!--script src="http://ajax.googleapis.com/ajax/libs/jquery/2.0.2/jquery.min.js"></script-->
		<script>
			if (!window.jQuery) {
				document.write('<script src="{{=URL('static/smartadmin','js/libs/jquery-2.0.2.min.js')}}"><\/script>');
			}
		</script>

		<!--script src="http://ajax.googleapis.com/ajax/libs/jqueryui/1.10.3/jquery-ui.min.js"></script-->
		<script>
			if (!window.jQuery.ui) {
				document.write('<script src="{{=URL('static/smartadmin','js/libs/jquery-ui-1.10.3.min.js')}}"><\/script>');
			}
		</script>

		<!-- JS TOUCH : include this plugin for mobile drag / drop touch events
		<script src="js/plugin/jquery-touch/jquery.ui.touch-punch.min.js"></script> -->

		<!-- BOOTSTRAP JS -->
		<script src="{{=URL('static/smartadmin','js/bootstrap/bootstrap.min.js')}}"></script>

		<!-- CUSTOM NOTIFICATION -->
		<script src="{{=URL('static/smartadmin','js/notification/SmartNotification.min.js')}}"></script>

		<!-- JARVIS WIDGETS -->
		<script src="{{=URL('static/smartadmin','js/smartwidgets/jarvis.widget.min.js')}}"></script>

		<!-- EASY PIE CHARTS -->
		<script src="{{=URL('static/smartadmin','js/plugin/easy-pie-chart/jquery.easy-pie-chart.min.js')}}"></script>

		<!-- SPARKLINES -->
		<script src="{{=URL('static/smartadmin','js/plugin/sparkline/jquery.sparkline.min.js')}}"></script>

		<!-- JQUERY VALIDATE -->
		<script src="{{=URL('static/smartadmin','js/plugin/jquery-validate/jquery.validate.min.js')}}"></script>

		<!-- JQUERY MASKED INPUT -->
		<script src="{{=URL('static/smartadmin','js/plugin/masked-input/jquery.maskedinput.min.js')}}"></script>

		<!-- JQUERY SELECT2 INPUT -->
		<script src="{{=URL('static/smartadmin','js/plugin/select2/select2.min.js')}}"></script>

		<!-- JQUERY UI + Bootstrap Slider -->
		<script src="{{=URL('static/smartadmin','js/plugin/bootstrap-slider/bootstrap-slider.min.js')}}"></script>

		<!-- browser msie issue fix -->
		<script src="{{=URL('static/smartadmin','js/plugin/msie-fix/jquery.mb.browser.min.js')}}"></script>

		<!-- FastClick: For mobile devices -->
		<script src="{{=URL('static/smartadmin','js/plugin/fastclick/fastclick.js')}}"></script>

		<!--[if IE 7]>

		<h1>Your browser is out of date, please update your browser by going to www.microsoft.com/download</h1>

		<![endif]-->

		<!-- Demo purpose only
		<script src="{{=URL('static/smartadmin','js/demo.js')}}"></script>  -->

		<!-- MAIN APP JS FILE -->
		<script src="{{=URL('static/smartadmin','js/app.js')}}"></script>

		<!-- PAGE RELATED PLUGIN(S) -->

		<!-- Flot Chart Plugin: Flot Engine, Flot Resizer, Flot Tooltip -->
		<script src="{{=URL('static/smartadmin','js/plugin/flot/jquery.flot.cust.js')}}"></script>
		<script src="{{=URL('static/smartadmin','js/plugin/flot/jquery.flot.resize.js')}}"></script>
		<script src="{{=URL('static/smartadmin','js/plugin/flot/jquery.flot.tooltip.js')}}"></script>

		<!-- Vector Maps Plugin: Vectormap engine, Vectormap language -->
		<script src="{{=URL('static/smartadmin','js/plugin/vectormap/jquery-jvectormap-1.2.2.min.js')}}"></script>
		<script src="{{=URL('static/smartadmin','js/plugin/vectormap/jquery-jvectormap-world-mill-en.js')}}"></script>

		<!-- Full Calendar -->
		<script src="{{=URL('static/smartadmin','js/plugin/fullcalendar/jquery.fullcalendar.min.js')}}"></script>
		<!-- PAGE RELATED PLUGIN(S) -->
		<script src="{{=URL('static', 'smartadmin/js/plugin/datatables/jquery.dataTables-cust.min.js')}}"></script>
		<script src="{{=URL('static', 'smartadmin/js/plugin/datatables/ColReorder.min.js')}}"></script>
		<script src="{{=URL('static', 'smartadmin/js/plugin/datatables/FixedColumns.min.js')}}"></script>
		<script src="{{=URL('static', 'smartadmin/js/plugin/datatables/ColVis.min.js')}}"></script>
		<script src="{{=URL('static', 'smartadmin/js/plugin/datatables/ZeroClipboard.min.js')}}"></script>
		<script src="{{=URL('static', 'smartadmin/js/plugin/datatables/media/js/TableTools.min.js')}}"></script>
		<script src="{{=URL('static', 'smartadmin/js/plugin/datatables/DT_bootstrap.js')}}"></script>
		<script src="{{=URL('static', 'smartadmin/js/plugin/datatables/jquery.dataTables-cust.min.js')}}"></script>

		<script type="text/javascript">
		$(document).ready(function(){

			/*
			 * BASIC
			 */
			$('.DT-estandar').dataTable({
				"oLanguage": {
			      	"sProcessing":     "Procesando...",
				    "sLengthMenu":     "_MENU_",
				    "sZeroRecords":    "No se encontraron resultados",
				    "sEmptyTable":     "Ningún dato disponible en esta tabla",
				    "sInfo":           "Mostrando registros del _START_ al _END_ de un total de _TOTAL_ registros",
				    "sInfoEmpty":      "Mostrando registros del 0 al 0 de un total de 0 registros",
				    "sInfoFiltered":   "(filtrado de un total de _MAX_ registros)",
				    "sInfoPostFix":    "",
				    "sUrl":            "",
				    "sInfoThousands":  ",",
				    "sLoadingRecords": "Cargando...",
				    "oPaginate": {
				        "sFirst":    "Primero",
				        "sLast":     "Último",
				        "sNext":     "Siguiente",
				        "sPrevious": "Anterior"
				    },
				    "oAria": {
				        "sSortAscending":  ": Activar para ordenar la columna de manera ascendente",
				        "sSortDescending": ": Activar para ordenar la columna de manera descendente"
				    }
			    },
			    "bSortCellsTop":true,
				"sPaginationType" : "bootstrap_full",
                "aLengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "Todos"]],
                "iDisplayLength":50
			});
	
			/* END BASIC */
	
			/* Add the events etc before DataTables hides a column */
			$("#datatable_fixed_column thead input").keyup(function() {
				oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
			});
	
			$("#datatable_fixed_column thead input").each(function(i) {
				this.initVal = this.value;
			});
			$("#datatable_fixed_column thead input").focus(function() {
				if (this.className == "search_init") {
					this.className = "";
					this.value = "";
				}
			});
			$("#datatable_fixed_column thead input").blur(function(i) {
				if (this.value == "") {
					this.className = "search_init";
					this.value = this.initVal;
				}
			});		
			
	
			var oTable = $('#datatable_fixed_column').dataTable({
				"sDom" : "<'dt-top-row'><'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				//"sDom" : "t<'row dt-wrapper'<'col-sm-6'i><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'>>",
				"oLanguage" : {
					"sSearch" : "Search all columns:"
				},
				"bSortCellsTop" : true
			});		
			
	
	
			/*
			 * COL ORDER
			 */
			$('#datatable_col_reorder').dataTable({
				"sPaginationType" : "bootstrap",
				"sDom" : "R<'dt-top-row'Clf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				"fnInitComplete" : function(oSettings, json) {
					$('.ColVis_Button').addClass('btn btn-default btn-sm').html('Columns <i class="icon-arrow-down"></i>');
				}
			});
			
			/* END COL ORDER */
	
			/* TABLE TOOLS */
			$('#datatable_tabletools').dataTable({
				"sDom" : "<'dt-top-row'Tlf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				"oTableTools" : {
					"aButtons" : ["copy", "print", {
						"sExtends" : "collection",
						"sButtonText" : 'Save <span class="caret" />',
						"aButtons" : ["csv", "xls", "pdf"]
					}],
					"sSwfPath" : "js/plugin/datatables/media/swf/copy_csv_xls_pdf.swf"
				},
				"fnInitComplete" : function(oSettings, json) {
					$(this).closest('#dt_table_tools_wrapper').find('.DTTT.btn-group').addClass('table_tools_group').children('a.btn').each(function() {
						$(this).addClass('btn-sm btn-default');
					});
				}
			});
		
		/* END TABLE TOOLS */
		});
		</script>

		<!-- Your GOOGLE ANALYTICS CODE Below -->
		<script type="text/javascript">
			var _gaq = _gaq || [];
			_gaq.push(['_setAccount', 'UA-XXXXXXXX-X']);
			_gaq.push(['_trackPageview']);

			(function() {
				var ga = document.createElement('script');
				ga.type = 'text/javascript';
				ga.async = true;
				ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
				var s = document.getElementsByTagName('script')[0];
				s.parentNode.insertBefore(ga, s);
			})();

		</script>
	</body>

</html>
