{{extend 'layout.html'}}
{{if session.instancias:}}
    {{nom = db_maestro(db_maestro.empresa.id == session.instancias ).select(db_maestro.empresa.razon_social).first()}}
    <div class="row">
        <article class='col-xs-12 col-sm-12 col-md-12 col-lg-12'>
            <legend>
                <h1 class="txt-color-darken">
                    <p>
                        <i class="fa-fw fa fa-cog "></i>
                        Configuración de empresa {{=nom.razon_social}}
                    </p>
                    <small>Configuración, ajustes y opciones.</small>
                </h1>
            </legend>
        </article>
    </div>
    <!-- row -->       
    <div class="row">
        <div class="col-md-4">
            <div class="alert alert-info">
                <a id="{{=session.instancias}}" data-nombre='{{=nom.razon_social}}' class="respaldo" style="cursor:pointer; text-decoration:none;">
                    <h2 style=" color: #305d8c;"><i class='fa fa-copy'></i> Crear respaldo</h2>
                </a>
                <p>Haz un respaldo de tu empresa</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="alert alert-success">
                <a href="javascript:void();" data-toggle="modal" data-target=".modal-compartir" style="cursor:pointer; text-decoration:none;">
                    <h2 style="color: #356635;"><i class='fa fa-hand-o-right'></i> Compartir</h2>
                </a>
                <p>Comparte tu empresa con otros usuarios</p>
            </div>
        </div>
        <div class="col-md-4">
            <div class="alert alert-danger">
                <a id="{{=session.instancias}}" data-nombre='{{=nom.razon_social}}' class="eliminar-empresa" style="cursor:pointer; text-decoration:none;">
                    <h2 style="color:#FFF;"> <i class='fa fa-times'></i> Eliminar</h2>
                </a>
                <p>Elimina esta empresa de tu lista.</p>
            </div>
        </div>
    </div><!--fin row-->
{{pass}}


<!-- Modal -->
<div class="modal fade modal-compartir" id="modal-compartir" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            {{=form.custom.begin}}
            <form class="smart-form">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">
                    &times;
                </button>
                <h4 class="modal-title" id="myModalLabel"><i class='fa fa-hand-o-right'></i> Compartir empresa</h4>
            </div>
            <div class="modal-body">
                
                    <fieldset>
                        <section>
                            <label>Escribe el correo del usuario con quien quieres compartir tu empresa</label>
                            <label >
                                {{=form.custom.widget.invitado}}
                            </label>
                        </section>
                    </fieldset>                
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">
                    Cancelar
                </button>
                    {{form.element(_type='submit')['_class']='btn btn-primary'}}
                    {{=form.custom.submit}}
            </div>
            {{=form.custom.end}}
            </form>
        </div><!-- /.modal-content -->
    </div><!-- /.modal-dialog -->
</div><!-- /.modal -->

<script>

    $(document).ready(function() {
        {{url = URL('respaldar', vars={'id': session.instancias}) }}

        $.getJSON("{{=url}}", function(json) {
            $.each(json, function(index, value) {
                $('.respaldo').attr('href', value);
                $('.respaldo').attr('_download', 'respaldo.sql');
            });
        });
    });

    /*
    $('.respaldo').click(function(e) {

        id = $(this).attr('id');
        nombre = $(this).data('nombre');

        $.SmartMessageBox({
            title : "Se dispone a crear un respaldo de la empresa " + nombre,
            content : "¿Realmente quieres crear un respaldo?",
            buttons : "[Sí][No]",
            }, function(ButtonPress, Value) {
            if (ButtonPress == "Sí") {

                $.ajax({
                    type: "post",
                    url: "{{=URL('empresa', 'respaldar')}}",
                    data: {id: id},
                    success: function (response) {
                    },
                    error: function (response) {
                        console.log(response);
                    },
                });
                return 0;
            }
        });
    });
    */

    $('.eliminar-empresa').click(function(e) {

        id = $(this).attr('id');
        nombre = $(this).data('nombre');

        $.SmartMessageBox({
            title : "Eliminar empresa " + nombre,
            content : "¿Estas seguro de eliminar esta empresa?",
            buttons : "[Cancelar][Eliminar]",
            }, function(ButtonPress, Value) {
            if (ButtonPress == "Eliminar") {
                $.ajax({
                    type: "post",
                    url: "{{=URL('empresa', 'eliminar')}}",
                    data: {id: id},
                    success: function (response) {
                        window.location.href = "{{=URL('default', 'index')}}";
                    },
                    error: function (response) {
                        console.log(response);
                    },
                });
                return 0;
            }
        });
    });

</script>
