{{extend 'layout.html'}}
<div id='content'>
    <div class='well'>
    {{if session.instancias:}}
    {{nom = db_maestro(db_maestro.empresa.id == session.instancias ).select(db_maestro.empresa.razon_social).first()}}
        <div class="row">
            <div class="col-md-12" style="text-align: right;">
                <div class="well">
                    <h1>Configuración de empresa {{=nom.razon_social}}</h1>
                </div>
            </div><!--fin col 12-->
        </div><!--fin row-->
        <div class="row">
            <div class="col-md-4">
                <div class="alert alert-info">
                    <h2 style=" color: #305d8c;"><i class='fa fa-copy'></i> Crear respaldo</h2>
                    <p>Haz un respaldo de tu empresa.</p>
                </div>
            </div>

            <div class="col-md-4">
                <div class="alert alert-success">
                    <h2 style="color: #356635;"><i class='fa fa-hand-o-right'></i> Compartir</h2>
                    <p>Comparte tu empresa con otros usuarios</p>
                    <br>
                    {{=form}}
                </div>
            </div>            

            <div class="col-md-4">
                <div class="alert alert-danger">
                    <a id="{{=session.instancias}}" data-nombre='{{=nom.razon_social}}' class="eliminar-empresa" style="cursor:pointer; text-decoration:none;">
                        <h2 style="color:#FFF;"> <i class='fa fa-times'></i> Eliminar</h2>
                    </a>
                    <p>Elimina esta empresa de tu lista.</p>
                </div>
            </div>

        </div><!--fin row-->
    {{pass}}
    </div><!--fin well-->
</div><!--fin content-->

<link href="{{=URL('static', 'css/tabs.css')}}" rel="stylesheet">

<div id="modal_invitar" class="modalmask">
    <div class="modalbox movedown">
        <a href="#close" title="Cerrar" class="close">X</a>
        <h2>Enviar invitación</h2>
        <div id="form_invitar">
        </div>
    </div>
</div>

<script>

    /* Enviar email de invitación */
    $('.invitar').click(function(e) {
        e.preventDefault();
        window.location.href = '#modal_invitar';
        $("#form_invitar").load("{{=URL('empresa', 'invitar')}}");
    });

    /* Compartir empresa */
    $('.compartir-empresa').click(function(e) {
        e.preventDefault();

        empresa_id = $(this).attr('id');
        usuario_id = 3;

        $.ajax({
            type: "post",
            url: "{{=URL('empresa', 'compartir')}}",
            data: {empresa_id: empresa_id, usuario_id:usuario_id},
            success: function (response) {
                console.log('good');
                location.reload();
            },
            error: function (response) {
                console.log('bad');
            },
        });
    });


    $('.eliminar-empresa').click(function(e) {

        id = $(this).attr('id');
        nombre = $(this).data('nombre');

        $.SmartMessageBox({
            title : "Eliminar empresa " + nombre,
            content : "¿Estas seguro de eliminar esta empresa?",
            buttons : "[Cancelar][Eliminar]",
            }, function(ButtonPress, Value) {
            if (ButtonPress == "Eliminar") {
                $.ajax({
                    type: "post",
                    url: "{{=URL('empresa', 'eliminar')}}",
                    data: {id: id},
                    success: function (response) {
                        window.location.href = "{{=URL('default', 'index')}}";
                    },
                    error: function (response) {
                        console.log(response);
                    },
                });
                return 0;
            }
        });

    });

</script>
