{{extend 'layout.html'}}
{{include 'botones.html'}}

<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

<div class="ui-widget">
    <label for="tags">Tags: </label>
    <input id="tags" class="selector">
</div>

{{=grupos}}

<script>

$(document).ready(function(){

    var localSource = [[0,"c++"], [1,"java"], [2,"php"], [3,"coldfusion"],
                         [4,"javascript"], [5,"asp"], [6,"ruby"]];

    $(".selector").autocomplete({
        //source: localSource,
        source: '{{=URL("carga_cc")}}'
    });

    $.getJSON('{{=URL("carga_cc")}}', function(json) {

        var dataArray = [];
        var dataArray2 = [];

        $.each(json, function (index, value) {
            dataArray.push(value);
            dataArray2[index] = value;
        });

        /*
        $.each(dataArray2, function (index, value) {
                console.log( index + ' : ' + value );
        });
        */

        $('.name').editable("{{=URL('permisos', 'actualiza_permiso')}}", {
            tooltip: 'Click para editar, ENTER para salvar.',
            indicator: 'Actualizando...'
        }).click(function() {
            $(this).find('input').autocomplete({
                //source: localSource,
                source: '{{=URL("carga_cc")}}'
            });
        });
    });
});

</script>
