.table{
  margin: 0 0 40px 0;
  width: 100%;
  box-shadow: 0 1px 3px rgba(0,0,0,0.2);
  display: table;
}
h1{
    color: #2980b9;
}
.fila-cabecera{
    display:table-row;
    font-weight:900;
    color: #ffffff;
    background: #2980b9;
 }
.fila{
    display: table-row;
    background: #f6f6f6;
}
.fila-impar{
    display:table-row;
    background:#e9e9e9;
}
.cell{ 
  padding: 6px 12px;
  display: table-cell;
}


.fila:hover{
    font-weight:bold;
	color: #444;
    -webkit-text-shadow: 0 1px 0 #fff;
	text-shadow: 0 1px 0 #fff;
}

.fila-impar:hover{
    font-weight:bold;
	color: #444;
    -webkit-text-shadow: 0 1px 0 #fff;
	text-shadow: 0 1px 0 #fff;
}

.fila_form{
    display: table-row;
    background: #f6f6f6;
}
.modalmask {
    position: fixed;
    font-family: Arial, sans-serif;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: rgba(0,0,0,0.8);
    z-index: 99999;
    opacity:0;
    -webkit-transition: opacity 400ms ease-in;
    -moz-transition: opacity 400ms ease-in;
    transition: opacity 400ms ease-in;
    pointer-events: none;
}
.modalmask:target {
    opacity:1;
    pointer-events: auto;
}
.modalbox{
    width: 40%;
    position: relative;
    padding: 5px 20px 13px 20px;
    background: #fff;
    border-radius:3px;
    -webkit-transition: all 500ms ease-in;
    -moz-transition: all 500ms ease-in;
    transition: all 500ms ease-in;
     
}
.movedown {
    margin: 0 auto;
}
.rotate {
    margin: 10% auto;
    -webkit-transform: scale(-5,-5);
    transform: scale(-5,-5);
}

.close {
    background: #606061;
    color: #FFFFFF;
    line-height: 25px;
    position: absolute;
    right: 1px;
    text-align: center;
    top: 1px;
    width: 24px;
    text-decoration: none;
    font-weight: bold;
    border-radius:3px;
 
}
 
.close:hover {
    background: #FAAC58;
    color:#222;
}
.resize {
    margin: 10% auto;
    width:0;
    height:0;
 
}
.modalmask:target .movedown{       
    margin:10% auto;
}
.modalmask:target .rotate{     
    transform: rotate(360deg) scale(1,1);
        -webkit-transform: rotate(360deg) scale(1,1);
}
 
.modalmask:target .resize{
    width:400px;
    height:200px;
}



.tree {
    min-height:20px;
    padding:19px;
    margin-bottom:20px;
    background-color:#fbfbfb;
    border:1px solid #999;
    -webkit-border-radius:4px;
    -moz-border-radius:4px;
    border-radius:4px;
    -webkit-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    -moz-box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow:inset 0 1px 1px rgba(0, 0, 0, 0.05);

}
.tree li {
    list-style-type:none;
    margin:0;
    padding:10px 5px 0 5px;
    position:relative
}
.tree li::before, .tree li::after {
    content:'';
    left:-20px;
    position:absolute;
    right:auto
}
.tree li::before {
    border-left:1px solid #999;
    bottom:50px;
    height:100%;
    top:0;
    width:1px
}
.tree li::after {
    border-top:1px solid #999;
    height:20px;
    top:25px;
    width:25px
}
.tree li span {
    -moz-border-radius:5px;
    -webkit-border-radius:5px;
    border:1px solid #999;
    border-radius:5px;
    display:inline-block;
    padding:3px 8px;
    text-decoration:none
}
.tree li.parent_li>span {
    cursor:pointer
}
.tree>ul>li::before, .tree>ul>li::after {
    border:0
}
.tree li:last-child::before {
    height:30px
}
.tree li.parent_li>span:hover{
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}
.tree li.parent_li>span:hover+ul li span {
    background:#eee;
    border:1px solid #94a0b4;
    color:#000
}

.menu-boton{
	font-family: Arial, sans-serif;
	padding: 6px 12px;
}
.menu-boton>a:link{
	text-decoration:none;
	display:block
}

.menu-boton:hover{
	background:#eee;
    color:#000;
}

.cc_grid{
	width: 100%;
	font-family: Arial, sans-serif;
	display: table;
	margin: 0 0 40px 0;
 	box-shadow: 0 1px 3px rgba(0,0,0,0.2);
	border-collapse: collapse;
}
.row_grid{
    display: inline-block;	
}
.cell_grid{
	display: table-cell;
}
.cc_grid li {
	display: inline-block;	
	width: 100%;
    list-style-type:none;
    margin:0;
    padding-top:2px;
	padding-bottom:2px;
	border-top:1px solid #94a0b4;
}

.cc_grid ul {
	display: inline-block;
	width: 100%;
	margin:0;
	padding:0;
	}
