{{extend 'layout.html'}}

<script>

/* cuadrar las cuentas */
function cuadrarPoliza() {

    var url = window.location.pathname;
    var cadenitas = url.split('/');

    idPoliza = 'id=' + cadenitas.pop();

    if (cadenitas.pop() == 'asiento.poliza_id') {
        $.post('{{=URL("cuadrar_poliza")}}', idPoliza).success(function(data){
            $('.fila-final').replaceWith(data);
        });
    }
}

$(document).ready(function(){

    cuadrarPoliza();

    /* Funciones para modificar los valores de los asientos */
    $.getJSON('{{=URL("carga_cc")}}', function(json) {

        var dataArray = [];

        $.each(json, function (index, value) {
            dataArray.push(value);
        });

        $('.cc_empresa_id').editable( "{{=URL('poliza', 'actualiza_descripcion')}}", {
            tooltip: 'Click para editar, ENTER para salvar.',
            indicator: 'Actualizando...',
        }).click(function() {
            $(this).find('input').autocomplete({
                source: dataArray
            });
        });
    });

    $('.concepto_asiento').editable("{{=URL('poliza', 'actualiza_asiento')}}",{
        tooltip: "Click para editar, ENTER para salvar.",
        indicator : "Actualizando...",
    });

    $('.cambiar_estatus').change(function() {

        var id = $(this).attr('id');
        var value = $(this).val();
        var datos = {id: id, value:value};

        $.post("{{=URL('actualiza_poliza')}}", datos).success(function(data){
            $(id).html(data);
        });
    });

    $('.cambiar_tipo').change(function() {

        var id = $(this).attr('id');
        var value = $(this).val();
        var datos = {id: id, value:value};

        $.post("{{=URL('actualiza_poliza')}}", datos).success(function(data){
            $(id).html(data);
        });
    });

    $('.debe').editable("{{=URL('poliza', 'actualiza_asiento')}}",{
        tooltip: "Click para editar, ENTER para salvar.",
        indicator : "Actualizando...",
        callback: function (value, settings) {
            cuadrarPoliza();
        }
    });

    $('.haber').editable("{{=URL('poliza', 'actualiza_asiento')}}",{
        tooltip: "Click para editar, ENTER para salvar.",
        indicator: "Actualizando...",
        callback: function (value, settings) {
            cuadrarPoliza();
        }
    });

    /* Funciones para modificar los valores de las pólizas */
    $('.concepto_general').editable("{{=URL('poliza', 'actualiza_poliza')}}",{
        tooltip: "Click para editar, ENTER para salvar.",
        indicator: "Actualizando...",
    });

    $.getJSON('{{=URL("carga_tipo_poliza")}}', function(json) {

        var dataArray = [];

        $.each(json, function (index, value) {
            dataArray.push(value);
        });

        $('.tipo_poliza').editable("{{=URL('poliza', 'actualiza_tipo_poliza')}}",{
            tooltip: "Click para editar, ENTER para salvar.",
            indicator : "Actualizando...",
        }).click(function() {
            $(this).find('input').autocomplete({
                source: dataArray
            });
        });
    });

});
</script>

<style>

    tr.fila-final td {
        padding: 1.2em 0;
        font-weight: bold;
    }

    .rojo {
        color: red;
    }

    .verde {
        color: green;
    }

</style>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <legend>
            <h1>
                <p>
                    <i class="fa-fw fa fa-file-text-o"></i>
                    Pólizas contables
                </p>
                <small>Listado de pólizas contables</small>
            </h1>
        </legend>
    </div>
</div>
                                <!-- widget grid -->
                                <section id="widget-grid" class="">
                                        <!-- row -->
                                        <div class="row">
                                                <article class="col-sm-12">
                                                        <!-- new widget -->
                                                        <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                                                                <!-- widget options:
                                                                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                                                                data-widget-colorbutton="false"
                                                                data-widget-editbutton="false"
                                                                data-widget-togglebutton="false"
                                                                data-widget-deletebutton="false"
                                                                data-widget-fullscreenbutton="false"
                                                                data-widget-custombutton="false"
                                                                data-widget-collapsed="true"
                                                                data-widget-sortable="false"
                                                                -->
                                                                <header>
                                                                        <span class="widget-icon"> <i class="fa fa-building txt-color-darken"></i> </span>
                                                                        <h2>Listado de Pólizas Contables</h2>
                                                                        <ul class="nav nav-tabs pull-right in" id="myTab">
                                                                                <li class="active">
                                                                                        <a data-toggle="tab" href="#s1"><i class="fa fa-bar-chart-o"></i> <span class="hidden-mobile hidden-tablet">Listado</span></a>
                                                                                </li>
                                                                        </ul>
                                                                </header>
                                                                <!-- widget div-->
                                                                <div class="no-padding">
                                                                        <!-- widget edit box -->
                                                                        <div class="jarviswidget-editbox">
                                                                                test
                                                                        </div>
                                                                        <!-- end widget edit box -->
                                                                        <div class="widget-body">
                                                                                <!-- content -->
                                                                                <div id="myTabContent" class="tab-content">
                                                                                        <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                                <div class="padding-10">
                                                    <ul id="expList">
                                                        {{=polizas}}
                                                    </ul>
                                                                                                </div>
                                                                                        </div>
                                                                                        <!-- end s1 tab pane -->
                                                                                </div>
                                                                                <!-- end content -->
                                                                        </div>
                                                                </div>
                                                                <!-- end widget div -->
                                                        </div>
                                                        <!-- end widget -->
                                                </article>
                                        </div>
                                        <!-- end row -->
                                </section>
                                <!-- end widget grid -->
