{{extend 'layout.html'}}

<script src="//code.jquery.com/ui/1.11.0/jquery-ui.js"></script>
<link rel="stylesheet" href="//code.jquery.com/ui/1.11.0/themes/smoothness/jquery-ui.css">

<!--script src="{{=URL('static','js/chosen.js')}}"></script>
<link rel="stylesheet" href="{{=URL('static','css/chosen.css')}}"-->

<script src="{{=URL('static','js/calendar.js')}}"></script>
<link rel="stylesheet" href="{{=URL('static','css/calendar.css')}}">

<script>

/* cuadrar las cuentas */
function cuadrarPoliza() {

    var url = window.location.pathname;
    var cadenitas = url.split('/');

    idPoliza = 'id=' + cadenitas.pop();

    if (cadenitas.pop() == 'asiento.poliza_id') {
        $.post('{{=URL("cuadrar_poliza")}}', idPoliza).success(function(data){
            $('.fila-final').replaceWith(data);
        });
    }
}

jQuery(document).ready(function(){

    cuadrarPoliza();

    $.getJSON('{{=URL("carga_cc")}}', function(json) {

        var dataArray = [];

        $.each(json, function (index, value) {
            dataArray.push(value);
        });

        $('.cc_empresa_id').editable( "{{=URL('poliza', 'actualiza_descripcion')}}", {
            tooltip: 'Click para editar, ENTER para salvar.',
            indicator: 'Actualizando...'
        }).click(function() {
            $(this).find('input').autocomplete({
                source: dataArray
            });
        });
    });

    jQuery('.concepto_asiento').editable("{{=URL('poliza', 'actualiza_asiento')}}",{
        tooltip: "Click para editar, ENTER para salvar.",
        indicator : "Actualizando...",
    });

    jQuery('.debe').editable("{{=URL('poliza', 'actualiza_asiento')}}",{
        tooltip: "Click para editar, ENTER para salvar.",
        indicator : "Actualizando...",
        callback: function (value, settings) {
            cuadrarPoliza();
        }
    });

    jQuery('.haber').editable("{{=URL('poliza', 'actualiza_asiento')}}",{
        tooltip: "Click para editar, ENTER para salvar.",
        indicator: "Actualizando...",
        callback: function (value, settings) {
            cuadrarPoliza();
        }
    });

});
</script>

<style>

    tr.fila-final td {
        padding: 1.2em 0;
        font-weight: bold;
    }

    .rojo {
        color: red;
    }

    .verde {
        color: green;
    }
</style>

<h1>Pólizas Contables</h1>

{{=polizas}}
