{{extend 'layout.html'}}

<script>

/* cuadrar las cuentas */
function cuadrarPoliza() {

    var url = window.location.pathname;
    var cadenitas = url.split('/');

    idPoliza = 'id=' + cadenitas.pop();

    if (cadenitas.pop() == 'asiento.poliza_id') {
        $.post('{{=URL("cuadrar_poliza")}}', idPoliza).success(function(data){
            $('.fila-final').replaceWith(data);
        });
    }
}

$(document).ready(function(){


    cuadrarPoliza();

    $.getJSON("{{=URL('verificar_estatus_periodo', vars={'id': request.vars.id})}}", function(json) {
        $.each(json, function(index, value) {

            console.log(value);

            /* inicio: validación de periodo */
            if (value != "CERRADO") {

                /* Funciones para modificar los valores de las pólizas */
                $("input[id$=-fecha_usuario]").each(function(){

                    $(this).datepicker({ 
                        dateFormat: 'yy-mm-dd',
                        onSelect: function(fecha) { 
                            var id = $(this).attr('id');
                            id = id.replace('-', '.');

                            datos = {'value': fecha, 'id': id}

                            $.post("{{=URL('actualiza_poliza')}}", datos).success(
                                function(data){ $(id).html(data); }
                            );
                        }
                    });
                });

                $('.concepto_general').editable("{{=URL('poliza', 'actualiza_poliza')}}",{
                    tooltip: "Click para editar, ENTER para salvar.",
                    indicator: "Actualizando...",
                });

                $('.cambiar_tipo').change(function() {

                    var id = $(this).attr('id');
                    var value = $(this).val();
                    var datos = {id: id, value:value};

                    $.post("{{=URL('actualiza_tipo_poliza')}}", datos).success(function(data){
                        id = id.replace('.', '');
                        id = '#' + id.replace('tipo', 'folio');
                        $(id).html(data);
                    });
                });

                /* Funciones para modificar los valores de los asientos */
                $.getJSON('{{=URL("carga_cc")}}', function(json) {

                    var dataArray = [];

                    $.each(json, function (index, value) {
                        dataArray.push(value);
                    });

                    $('.cc_empresa_id').editable( "{{=URL('poliza', 'actualiza_descripcion')}}", {
                        tooltip: 'Click para editar, ENTER para salvar.',
                        indicator: 'Actualizando...',
                    }).click(function() {
                        $(this).find('input').autocomplete({
                            source: dataArray
                        });
                    });
                });

                $('.concepto_asiento').editable("{{=URL('poliza', 'actualiza_asiento')}}",{
                    tooltip: "Click para editar, ENTER para salvar.",
                    indicator : "Actualizando...",
                });


                $('.debe').editable("{{=URL('poliza', 'actualiza_asiento')}}",{
                    tooltip: "Click para editar, ENTER para salvar.",
                    indicator : "Actualizando...",
                    callback: function (value, settings) {
                        cuadrarPoliza();
                    }
                });

                $('.haber').editable("{{=URL('poliza', 'actualiza_asiento')}}",{
                    tooltip: "Click para editar, ENTER para salvar.",
                    indicator: "Actualizando...",
                    callback: function (value, settings) {
                        cuadrarPoliza();
                    }
                });
            }
            /* validación de póliza */

        });
    });



});
</script>

<style>

    tr.fila-final td {
        padding: 1.2em 0;
        font-weight: bold;
    }

    .derecha {
        text-align:right;
        margin-right: 10%;
    }

    .rojo {
        color: red;
    }

    .verde {
        color: green;
    }

</style>

<div class="row">
    <div class="col-xs-12 col-sm-12 col-md-12 col-lg-12">
        <legend>
            <h1>
                <p>
                    <i class="fa-fw fa fa-file-text-o"></i>
                    Pólizas contables
                </p>
                <small>Listado de pólizas contables</small>
            </h1>
        </legend>
    </div>
</div>
                                <!-- widget grid -->
                                <section id="widget-grid" class="">
                                        <!-- row -->
                                        <div class="row">
                                                <article class="col-sm-12">
                                                        <!-- new widget -->
                                                        <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                                                                <!-- widget options:
                                                                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                                                                data-widget-colorbutton="false"
                                                                data-widget-editbutton="false"
                                                                data-widget-togglebutton="false"
                                                                data-widget-deletebutton="false"
                                                                data-widget-fullscreenbutton="false"
                                                                data-widget-custombutton="false"
                                                                data-widget-collapsed="true"
                                                                data-widget-sortable="false"
                                                                -->
                                                                <header>
                                                                        <span class="widget-icon"> <i class="fa fa-list txt-color-darken"></i> </span>
                                                                        <h2>Listado de Pólizas Contables</h2>
                                                                </header>
                                                                <!-- widget div-->
                                                                <div class="no-padding">
                                                                        <!-- widget edit box -->
                                                                        <div class="jarviswidget-editbox">
                                                                                test
                                                                        </div>
                                                                        <!-- end widget edit box -->
                                                                        <div class="widget-body">
                                                                                <!-- content -->
                                                                                <div id="myTabContent" class="tab-content">
                                                                                        <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                                <div class="padding-10">
                                                    <ul id="expList">
                                                        {{=polizas}}
                                                    </ul>
                                                                                                </div>
                                                                                        </div>
                                                                                        <!-- end s1 tab pane -->
                                                                                </div>
                                                                                <!-- end content -->
                                                                        </div>
                                                                </div>
                                                                <!-- end widget div -->
                                                        </div>
                                                        <!-- end widget -->
                                                </article>
                                        </div>
                                        <!-- end row -->
                                </section>
                                <!-- end widget grid -->
