{{extend 'layout.html'}}




                                <!-- widget grid -->
                                <section id="widget-grid" class="">
                                        <!-- row -->
                                        <div class="row">
                                                <article class="col-sm-12">
                                                        <!-- new widget -->
                                                        <div class="jarviswidget" id="wid-id-0" data-widget-togglebutton="false" data-widget-editbutton="false" data-widget-fullscreenbutton="false" data-widget-colorbutton="false" data-widget-deletebutton="false">
                                                                <!-- widget options:
                                                                usage: <div class="jarviswidget" id="wid-id-0" data-widget-editbutton="false">
                                                                data-widget-colorbutton="false"
                                                                data-widget-editbutton="false"
                                                                data-widget-togglebutton="false"
                                                                data-widget-deletebutton="false"
                                                                data-widget-fullscreenbutton="false"
                                                                data-widget-custombutton="false"
                                                                data-widget-collapsed="true"
                                                                data-widget-sortable="false"
                                                                -->
                                                                <header>
                                                                        <span class="widget-icon"> <i class="fa fa-building txt-color-darken"></i> </span>
                                                                        <h2>Estado de Resultados</h2>
                                                                        <ul class="nav nav-tabs pull-right in" id="myTab">
                                                                                <li class="active">
                                                                                        <a data-toggle="tab" href="#s1"><i class="fa fa-list-ol"></i> <span class="hidden-mobile hidden-tablet">Reportes</span></a>
                                                                                </li>
                                                                        </ul>
                                                                </header>
                                                                <!-- widget div-->
                                                                <div class="no-padding">
                                                                        <!-- widget edit box -->
                                                                        <div class="jarviswidget-editbox">
                                                                                test
                                                                        </div>
                                                                        <!-- end widget edit box -->
                                                                        <div class="widget-body">
                                                                                <!-- content -->
                                                                                <div id="myTabContent" class="tab-content">
                                                                                        <div class="tab-pane fade active in padding-10 no-padding-bottom" id="s1">
                                                <div class="padding-10">
                                                    <ul id="expList">
 
    <!-- widget div-->
        <div>
			<!-- widget edit box -->
			<div class="jarviswidget-editbox">
			<!-- This area used as dropdown edit box -->
            </div>
            <!-- end widget edit box -->
				
			<!-- widget content -->
			<div class="widget-body no-padding">
                <div class="widget-body-toolbar">
				
				</div>
                <div id="div_cuentas">
                        {{=tabla}}
                </div>
                
            </div>
        </div>
                                                        
                                                        
                                                        
                                                        
                                                     

                                                 </ul>
                                                                                                </div>
                                                                                        </div>
                                                                                        <!-- end s1 tab pane -->
                                                                                </div>
                                                                                <!-- end content -->
                                                                        </div>
                                                                </div>
                                                                <!-- end widget div -->
                                                        </div>
                                                        <!-- end widget -->
                                                </article>
                                        </div>
                                        <!-- end row -->
                                </section>
                                <!-- end widget grid -->

<!-- PAGE RELATED PLUGIN(S) -->
<script src="{{=URL('static', 'smartadmin/js/plugin/datatables/jquery.dataTables-cust.min.js')}}"></script>
<script src="{{=URL('static', 'smartadmin/js/plugin/datatables/ColReorder.min.js')}}"></script>
<script src="{{=URL('static', 'smartadmin/js/plugin/datatables/FixedColumns.min.js')}}"></script>
<script src="{{=URL('static', 'smartadmin/js/plugin/datatables/ColVis.min.js')}}"></script>
<script src="{{=URL('static', 'smartadmin/js/plugin/datatables/ZeroClipboard.min.js')}}"></script>
<script src="{{=URL('static', 'smartadmin/js/plugin/datatables/media/js/TableTools.min.js')}}"></script>
<script src="{{=URL('static', 'smartadmin/js/plugin/datatables/DT_bootstrap.js')}}"></script>
<script src="{{=URL('static', 'smartadmin/js/plugin/datatables/jquery.dataTables-cust.min.js')}}"></script>
		
<script type="text/javascript">
    $(document).ready(function() {
			
			pageSetUp();
			
			/*
			 * BASIC
			 */
			$('#dt_basic').dataTable({
				"sPaginationType" : "bootstrap_full",
                "bSort": false,
                "aoColumnDefs": [
                     { 'bSortable': false, 'aTargets': [0,1,2,3,4] }
                ],
                "aLengthMenu": [[10, 25, 50, 100, 200, -1], [10, 25, 50, 100, 200, "Todos"]],
                "iDisplayLength":50
			});
	
			/* END BASIC */
	
			/* Add the events etc before DataTables hides a column */
			$("#datatable_fixed_column thead input").keyup(function() {
				oTable.fnFilter(this.value, oTable.oApi._fnVisibleToColumnIndex(oTable.fnSettings(), $("thead input").index(this)));
			});
	
			$("#datatable_fixed_column thead input").each(function(i) {
				this.initVal = this.value;
			});
			$("#datatable_fixed_column thead input").focus(function() {
				if (this.className == "search_init") {
					this.className = "";
					this.value = "";
				}
			});
			$("#datatable_fixed_column thead input").blur(function(i) {
				if (this.value == "") {
					this.className = "search_init";
					this.value = this.initVal;
				}
			});		
			
	
			var oTable = $('#datatable_fixed_column').dataTable({
				"sDom" : "<'dt-top-row'><'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				//"sDom" : "t<'row dt-wrapper'<'col-sm-6'i><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'>>",
				"oLanguage" : {
					"sSearch" : "Search all columns:"
				},
				"bSortCellsTop" : true
			});		
			
	
	
			/*
			 * COL ORDER
			 */
			$('#datatable_col_reorder').dataTable({
				"sPaginationType" : "bootstrap",
				"sDom" : "R<'dt-top-row'Clf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				"fnInitComplete" : function(oSettings, json) {
					$('.ColVis_Button').addClass('btn btn-default btn-sm').html('Columns <i class="icon-arrow-down"></i>');
				}
			});
			
			/* END COL ORDER */
	
			/* TABLE TOOLS */
			$('#datatable_tabletools').dataTable({
				"sDom" : "<'dt-top-row'Tlf>r<'dt-wrapper't><'dt-row dt-bottom-row'<'row'<'col-sm-6'i><'col-sm-6 text-right'p>>",
				"oTableTools" : {
					"aButtons" : ["copy", "print", {
						"sExtends" : "collection",
						"sButtonText" : 'Save <span class="caret" />',
						"aButtons" : ["csv", "xls", "pdf"]
					}],
					"sSwfPath" : "{{=URL('static', 'smartadmin/js/plugin/datatables/media/swf/copy_csv_xls_pdf.swf')}}"
				},
				"fnInitComplete" : function(oSettings, json) {
					$(this).closest('#dt_table_tools_wrapper').find('.DTTT.btn-group').addClass('table_tools_group').children('a.btn').each(function() {
						$(this).addClass('btn-sm btn-default');
					});
				}
			});
		
		/* END TABLE TOOLS */
		})
</script>
