{{extend 'layout.html'}}

{{=form}}

<script>

$(document).ready(function(){

    $('.cerrar').each(function(){
        console.log('cerrar');
    });

    $('.abrir').click(function(){
        console.log('abrir');
    });

});

$.getJSON('{{=URL("listar")}}', function(json){ 

    console.log(json);

    var tabla = "";
    $.each(json, function(ke, va) {

        var fila = "";

        id = va['id'];
        
        $.each(this, function(k , v) {
            
            if (k == 'nombre') {
                div = "<div class='poliza' id='" + id + "poliza'>Póliza</div>";
                fila += "<td class='poliza'><a href={{=URL('poliza', 'listar')}}?id=" + id + ">Ir a periodo</a></td>";
            }

            if (k != '_extra')
                if (k != 'estatus')
                    fila += "<td>"+v+"</td>";

                /* construir link para abrir y cerrar póliza */
                else if (v == 'T'){
                    div = "<div class='cerrar' id='" + id + "cerrar'>Cerrar</div>";
                    fila += "<td>" + div + "</td>";
                    fila += "<td class='cerrar'><a href='cerrar?cerrar=" + id + "'>Cerrar</a></td>";
                }
                else {
                    div = "<div class='abrir' id='" + id + "abrir'>Abrir</div>";
                    fila += "<td>" + div + "</td>";
                    fila += "<td class='abrir'><a href='abrir?abrir=" + id + "'>Abrir</a></td>";
                }

        });

        tabla += "<tr>"+fila+"</tr>";                
    });

    $("#periodos").html(tabla);

});

</script>

<style>
    td { padding: 20px; }
</style>

<div id='periodos'></div>
